@model NetMud.Models.Admin.AddEditFaunaViewModel
@{
    ViewBag.Title = "Edit Fauna";

    <section id="newCharacterForm">
        @using (Html.BeginForm("Edit", "Fauna", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />
            
            <div class="form-group row">
                @Html.EditorFor(e => e.Name)
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("Race", "Race", Model.ValidRaces, Model.Race))
            </div>
            <div class="form-group row">
                @Html.EditorFor(e => e.Rarity)
                @Html.EditorFor(e => e.AmountMultiplier)
                @Html.EditorFor(e => e.PuissanceVariance)
            </div>
            <div class="form-group row">
                @Html.EditorFor(m => m.FemaleRatio)
                @Html.EditorFor(m => m.PopulationHardCap)
            </div>
            <div class="form-group row">
                @Html.EditorFor(m => m.TemperatureRangeLow)
                @Html.EditorFor(m => m.TemperatureRangeHigh)
            </div>
            <div class="form-group row">
                @Html.EditorFor(m => m.HumidityRangeLow)
                @Html.EditorFor(m => m.HumidityRangeHigh)
            </div>
            <div class="form-group row">
                @Html.EditorFor(m => m.ElevationRangeLow)
                @Html.EditorFor(m => m.ElevationRangeHigh)
            </div>

            @Html.Partial("~/Views/GameAdmin/Fauna/OccursIn.cshtml", Model)

            <div class="form-group row">
                @Html.EditorFor(e => e.HelpText)
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Commit" class="btn btn-default save" />
                    @Html.ActionLink("Cancel", "Index", "Fauna", new { @class = "btn btn-default cancel" })
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}