@model NetMud.Models.Admin.ManageFaunaViewModel
@{
    var linkText = Html.ActionLink("99999999", "Edit", new { id = 99999999 }).ToString();
    var tableColumns = new Dictionary<string, Func<dynamic, string>>();
    tableColumns.Add("Id", obj => linkText.Replace("99999999", obj.Id.ToString()));
    tableColumns.Add("Name", obj => obj.FitnessProblems ? string.Format("<span style='color:red;' title='{0}'>{1}</span>", String.Join(", ", obj.FitnessReport()), obj.Name) : obj.Name); tableColumns.Add("State", obj => obj.State.ToString());
    tableColumns.Add("State", obj => obj.State.ToString());
}

@Html.Partial("AddContentLink")

@Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model, "Fauna"))

@using (Html.BeginForm("Remove", "Fauna"))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ListTable", new NetMud.Models.ListTableViewModel() { Name = "Fauna", Columns = tableColumns, Values = Model.CurrentPageOfItems.OrderBy(obj => obj.Id) })
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}