@model NetMud.Models.Admin.AddEditUIModuleViewModel

<section id="newCharacterForm">
    @using (Html.BeginForm("Edit", "UIModules", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />
        <div class="form-group row">
            @Html.EditorFor(m => m.Name)
            @Html.DescriptiveLabelFor(m => m.SystemDefault, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-3">
                @Html.DropDownList("SystemDefault", new SelectList(new int[] { 1, 2, 3, 4 }, Model.SystemDefault)
                                        , "Select One", htmlAttributes: new { id = "SystemDefault", @class = "form-control" })
            </div>
            @Html.EditorFor(m => m.Height)
            @Html.EditorFor(m => m.Width)
        </div>
        <div class="form-group row">
            @Html.EditorFor(m => m.BodyHtml)
        </div>
        <div class="form-group row">
            @Html.EditorFor(m => m.HelpText)
        </div>

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "UIModules", IncludeCancel = true })

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}