@model NetMud.Models.Admin.ManageConstantsDataViewModel
@{
    ViewBag.Title = "Manage Constants";

    @Html.Partial("AddContentLink")

    if (Model.Items.Count() > 0)
    {
        @Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model, "Constants"))

        using (Html.BeginForm("Remove", "Constants"))
        {
            @Html.AntiForgeryToken()
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Remove
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.CurrentPageOfItems)
                    {
                        <tr>
                            <td>@Html.ActionLink(@obj.Id.ToString(), "Edit", new { id = obj.Id })</td>
                            <td>
                                @if (obj.FitnessProblems)
                                {
                                    <span style="color:red;" title="@String.Join(", ", obj.FitnessReport())">@obj.Name</span>
                                }
                                else
                                {
                                    @obj.Name
                                }
                            </td>
                            <td>
                                <div>
                                    @Html.Partial("RemoveDataItem", @obj.Id)
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}