@model NetMud.Models.Logging.DashboardViewModel
@{
    ViewBag.Title = "Logs";
}

<div style="padding-bottom: 25px;">
    <h4>Live Channels</h4>
    <hr />
    <div class="form-group one-column">
        @using (Html.BeginForm("Index", "Logging", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(m => m.SelectedLog, new { @class = "control-label" })
            <div>
                @Html.DropDownList("SelectedLog", Model.ChannelNames.Select(rl =>
                            new SelectListItem() { Text = rl, Value = rl })
                            , htmlAttributes: new { id = "selectedLog", Style = "padding: 7px;" })
                <input type="submit" value="Load" class="btn btn-default" />
            </div>
        }
    </div>

    @if (!String.IsNullOrWhiteSpace(Model.SelectedLogContent))
    {
        using (Html.BeginForm("Rollover", "Logging", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <input type="hidden" name="SelectedLog" value="@Model.SelectedLog" />
            <textarea id="logContent" name="logContent" readonly="readonly" class="logDisplay">@Model.SelectedLogContent</textarea>
            <br/>
            <input type="submit" value="Rollover" class="btn btn-default" style="margin-top: 15px; color: orangered;"/>
        }
    }
</div>
