@model NetMud.Data.Architectural.EntityBase.DimensionalModel

<div class="entityDataInfoCard">
    <h4>Model</h4>
    <hr />
    <div>
        <span>Vacuity</span>
        <span>@Model.Vacuity</span>
    </div>
    <div>
        <span>Vacuity</span>
        <span>@Model.SurfaceCavitation</span>
    </div>

    <div>
        <span>Dimensions</span>
        <span>@Model.Height x @Model.Length x @Model.Width</span>
    </div>
    <div class='dimensionalModel'>
        <h5>Physical Model</h5>
        <div>
            <pre id='modelContainer' class='twoDModel'>@Html.Raw(Model.ModelTemplate.ViewFlattenedModel(true))</pre>
        </div>
    </div>
</div>
