@model NetMud.Data.NaturalResource.Flora
<div class="entityDataInfoCard">
    <h4>@Model.Name</h4>
    <hr />
    <div>
        <span>Coniferous</span>
        <span>@Html.DisplayFor(m => m.Coniferous)</span>
    </div>
    <div>
        <span>Puissance Variance</span>
        <span>@Html.DisplayFor(m => m.PuissanceVariance)</span>
    </div>
    <div>
        <span>Rarity</span>
        <span>@Html.DisplayFor(m => m.Rarity)</span>
    </div>
    <div>
        <span>Sunlight Preference</span>
        <span>@Html.DisplayFor(m => m.SunlightPreference)</span>
    </div>
    <div>
        <span>Elevation Range</span>
        <span>@Html.DisplayFor(m => m.ElevationRange)</span>
    </div>
    <div>
        <span>Humidity Range</span>
        <span>@Html.DisplayFor(m => m.HumidityRange)</span>
    </div>
    <div>
        <span>Temperature Range</span>
        <span>@Html.DisplayFor(m => m.TemperatureRange)</span>
    </div>
    <div>
        <span>Ecology</span>
        <span>@string.Join(",", Model.OccursIn)</span>
    </div>

    @if (Model.Flower != null)
    {
        <div>
            <span>Flower Item</span>
            <span>@Model.Flower.Name</span>
        </div>
    }

    @if (Model.Fruit != null)
    {
        <div>
            <span>Fruit Item</span>
            <span>@Model.Fruit.Name</span>
        </div>
    }

    @if (Model.Leaf != null)
    {
        <div>
            <span>Leaf Item</span>
            <span>@Model.Leaf.Name</span>
        </div>
    }
    @if (Model.Seed != null)
    {
        <div>
            <span>Seed Item</span>
            <span>@Model.Seed.Name</span>
        </div>
    }
    @if (Model.Wood != null)
    {
        <div>
            <span>Wood Material</span>
            <span>@Model.Wood.Name</span>
        </div>
    }
</div>
