@model NetMud.Data.Gaia.GaiaTemplate

<div class="entityDataInfoCard">
    <h4>@Model.Name</h4>
    <hr />
    <div>
        <span>Rotational Angle</span>
        <span>@Html.DisplayFor(m => m.RotationalAngle)</span>
    </div>
    @Html.DisplayFor(m => m.ChronologicalSystem)
    @foreach (var celestial in Model.CelestialBodies)
    {
        <div>
            <span>Celestial Body</span>
            <span>@celestial.Name</span>
        </div>
    }
    @foreach (var quality in Model.Qualities)
    {
        @Html.DisplayFor(m => quality)
    }
</div>
