@model NetMud.Data.Architectural.EntityBase.Material

<div class="entityDataInfoCard">
    <h4>@Model.Name</h4>
    <hr />
    <div>
        <span>Conductive</span>
        <span>@Html.DisplayFor(m => m.Conductive)</span>
    </div>
    <div>
        <span>Magnetic</span>
        <span>@Html.DisplayFor(m => m.Magnetic)</span>
    </div>
    <div>
        <span>Flammable</span>
        <span>@Html.DisplayFor(m => m.Flammable)</span>
    </div>
    <div>
        <span>Ductility</span>
        <span>@Html.DisplayFor(m => m.Ductility)</span>
    </div>
    <div>
        <span>Vaporization Point</span>
        <span>@Html.DisplayFor(m => m.GasPoint)</span>
    </div>
    <div>
        <span>Freezing Point</span>
        <span>@Html.DisplayFor(m => m.SolidPoint)</span>
    </div>
    <div>
        <span>Mallebility</span>
        <span>@Html.DisplayFor(m => m.Mallebility)</span>
    </div>
    <div>
        <span>Porosity</span>
        <span>@Html.DisplayFor(m => m.Porosity)</span>
    </div>
    <div>
        <span>TemperatureRetention</span>
        <span>@Html.DisplayFor(m => m.TemperatureRetention)</span>
    </div>
    <div>
        <span>Viscosity</span>
        <span>@Html.DisplayFor(m => m.Viscosity)</span>
    </div>
</div>
