@model NetMud.Data.NaturalResource.Mineral
<div class="entityDataInfoCard">
    <h4>@Model.Name</h4>
    <hr />
    <div>
        <span>Puissance Variance</span>
        <span>@Html.DisplayFor(m => m.PuissanceVariance)</span>
    </div>
    <div>
        <span>Solubility</span>
        <span>@Html.DisplayFor(m => m.Solubility)</span>
    </div>
    <div>
        <span>Rarity</span>
        <span>@Html.DisplayFor(m => m.Rarity)</span>
    </div>
    <div>
        <span>Elevation Range</span>
        <span>@Html.DisplayFor(m => m.ElevationRange)</span>
    </div>
    <div>
        <span>Temperature Range</span>
        <span>@Html.DisplayFor(m => m.TemperatureRange)</span>
    </div>
    <div>
        <span>Humidity Range</span>
        <span>@Html.DisplayFor(m => m.HumidityRange)</span>
    </div>
    <div>
        <span>Rock Item</span>
        <span>@Model.Rock.Name</span>
    </div>
    <div>
        <span>Dirt Item</span>
        <span>@Model.Dirt.Name</span>
    </div>
    @foreach (var ore in Model.Ores)
    {
        <div>
            <span>Ore</span>
            <span>@ore.Name</span>
        </div>
    }
</div>