@model NetMud.Data.Architectural.ActorBase.Race

<div class="entityDataInfoCard">
    <h4>@Model.Name (of @Model.CollectiveNoun)</h4>
    <hr />
    <div>
        <span>Breathes:</span>
        <span>@Html.DisplayFor(m => m.Breathes)</span>
    </div>
    <div>
        <span>Diet:</span>
        <span>@Html.DisplayFor(m => m.DietaryNeeds)</span>
    </div>
    <div>
        <span>Blood:</span>
        <span>@Html.DisplayFor(m => m.SanguinaryMaterial)</span>
    </div>
    <div>
        <span>Teeth:</span>
        <span>@Html.DisplayFor(m => m.TeethType)</span>
    </div>
    <div>
        <span>Visual Range:</span>
        <span>@Html.DisplayFor(m => m.VisionRange)</span>
    </div>
    <div>
        <span>Temperature Tolerance:</span>
        <span>@Html.DisplayFor(m => m.TemperatureTolerance)</span>
    </div>
    <div>
        <span>Anatomy:</span>
        <span>@Model.RenderAnatomy(true)</span>
    </div>
</div>
