<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>netMUD</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.8.2/umd/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.8.2/umd/popper-utils.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/tooltip.js")
    @Scripts.Render("~/Scripts/HtmlUtilities.js")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Under the Eclipse", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <div style="padding: 15px">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-header" style="color: mediumvioletred">Knowledge</li>
                                <li>@Html.ActionLink("Help Files", "Help", "Features", routeValues: null, htmlAttributes: new { title = "Help Files" })</li>
                                <li>@Html.ActionLink("Races", "Races", "Features", routeValues: null, htmlAttributes: new { title = "Races" })</li>
                                <li>@Html.ActionLink("Flora", "Flora", "Features", routeValues: null, htmlAttributes: new { title = "Flora" })</li>
                                <li>@Html.ActionLink("Minerals", "Minerals", "Features", routeValues: null, htmlAttributes: new { title = "Minerals" })</li>
                                <li class="dropdown-header" style="color: mediumvioletred">Systems</li>
                                <li>@Html.ActionLink("Skills", "Skills", "Features", routeValues: null, htmlAttributes: new { title = "Skills" })</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="topNavCollapser">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </div>
    <div class="container body-content">
        <h3><p id="statusMessage" name="statusMessage" class="text-success">@ViewBag.StatusMessage</p></h3>
        @RenderBody()
    </div>
    <footer>
        <br class="clearfix" />
        <hr />
        <p>TwinMUD &copy; 1997-@DateTime.Now.Year - SwiftAusterity Productions</p>
        <div id="guildWebRing" style="width: 100%; padding-left: 40%;" />
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.StatusMessage' == '' && GetQueryStringParams('Message') != '') {
                $('#statusMessage').html(GetQueryStringParams('Message'));
            }

            $('.helpTip').each(function () {
                HelpTipTutorial($(this), $(this).attr('title'));
            });

            $('.topNavCollapser').click(function () {
                $('.navbar-top').toggleClass('accordion-collapsed');
                $('.topNavCollapser span').toggleClass('glyphicon-chevron-up');
                $('.topNavCollapser span').toggleClass('glyphicon-chevron-down');
            });
        });
    </script>
    @Scripts.Render("~/Scripts/mcgWebRing.js")
</body>
</html>
