<!DOCTYPE html>
<html>
@{
    if(string.IsNullOrWhiteSpace(ViewBag.StatusMessage) && !string.IsNullOrWhiteSpace(ViewData["Message"]?.ToString()))
    {
        ViewBag.StatusMessage = ViewData["Message"].ToString();
    }

    var instance = HttpContext.Current.ApplicationInstance;
    System.Reflection.Assembly asm = instance.GetType().BaseType.Assembly;
    System.Version v = asm.GetName().Version;

    var assemblyVersion = string.Format(System.Globalization.CultureInfo.InvariantCulture, @"Warrens White Sand: v{0}.{1}.{2} (r{3})", v.Major, v.Minor, v.Build, v.Revision);
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta Access-Control-Allow-Origin="cdn.swiftausterity.com" />
    <title>netMUD</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.8.2/umd/popper.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.8.2/umd/popper-utils.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/tooltip.js")
    @Scripts.Render("~/Scripts/HtmlUtilities.js")
    @Scripts.Render("~/Scripts/site.js")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Lexica API", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("News", "Index", "Blog")</li>
                    <li>
                        <div style="padding: 15px">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-header" style="color: mediumvioletred">The World Stage</li>
                                <li>@Html.ActionLink("The World", "TheWorld", "Features", routeValues: null, htmlAttributes: new { title = "The World" })</li>
                                <li>@Html.ActionLink("The Lore", "Lore", "Features", routeValues: null, htmlAttributes: new { title = "The Lore" })</li>
                                <li class="dropdown-header" style="color: mediumvioletred">Knowledge</li>
                                <li>@Html.ActionLink("Languages", "Languages", "Features", routeValues: null, htmlAttributes: new { title = "Languages" })</li>
                            </ul>
                        </div>
                    </li>
                    <li>@Html.ActionLink("WORD FIGHT! (click me now damnit)", "WordFight", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="topNavCollapser">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </div>
    <div class="container body-content">
        <h2 id="statusMessage" name="statusMessage" class="text-warning">@ViewData["StatusMessage"]</h2>
        @if (ViewBag.Breadcrumbs != null)
        {
            @Html.Partial("TitleAndBreadcrumbs", ViewBag.Breadcrumbs as Tuple<string, string[], string[]>)
        }
        @RenderBody()
    </div>
    <footer>
        <br class="clearfix" />
        <hr />
        <p>Under the Eclipse &copy; 1997-@DateTime.Now.Year - SwiftAusterity Productions</p>
        <p>Running on <a href="https://github.com/swiftausterity/warrens" title="Github Repository" target="_blank">@assemblyVersion</a></p>
        <p>Many of the icons used are shamelessly taken from and &copy; <a href="http://www.toicon.com/" target="_blank">The Artificial</a>.</p>
        <p>The Lexica makes heavy use of the data of WordNet: <a href="https://wordnet.princeton.edu/">Princeton University "About WordNet." WordNet. Princeton University. 2010.</a> and <a href="https://dictionaryapi.com/">Mirriam-Webster's Collegiate® Dictionary and Collegiate® Thesaurus APIs.</a></p>
        <p><a href="//grapevine.haus/" target="_blank"><img src="//grapevine.haus/images/grapevine.png" onerror="this.src='/content/images/broken-image.png'" class="grapeLogo" title="Grapevine Network" /></a></p>
        <p>
            For authentication purposes and to help prevent ancient curses from befalling you we use cookies. By clicking on or navigating the site, you agree to allow us to ward off evil spirits
            attempting to haunt you. We store no personal details.
        </p>
        <div id="guildWebRing" style="width: 100%; padding-left: 40%;" />
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.StatusMessage' == '' && GetQueryStringParams('Message') != '') {
                $('#statusMessage').html(GetQueryStringParams('Message'));
            }

            $('.helpTip').each(function () {
                HelpTipTutorial($(this), $(this).attr('title'));
            });

            $("div.accordionWrapper").accordion({
                collapsible: true,
                active: false,
                heightStyle: "content"
            });

            $("#tabs").tabs();

            $('.topNavCollapser').click(function () {
            $('.navbar-top').toggleClass('accordion-collapsed');
            $('.topNavCollapser span').toggleClass('glyphicon-chevron-up');
            $('.topNavCollapser span').toggleClass('glyphicon-chevron-down');
            });
        });
    </script>
    @Scripts.Render("//cdn.swiftausterity.com/mcgWebRing.js")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
