@model NetMud.Models.AsciiMapViewModel

<div class="roomAsciiMap">
    <p>
        <a id="TravelUp" name="TravelUp" class="Up" title="Up"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a>
        <span id="levelIndicator" style="font-size:larger; color: blue;">Level @Model.ZIndex</span>
        <a id="TravelDown" name="TravelDown" class="Down" title="Down"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
    </p>
    <div>
        <pre id="expandedModelContainer" class="asciiMap" data-id="@Model.DataID" data-zindex="@Model.ZIndex"></pre>
    </div>
</div>

<div id="modal-form" title="Add Pathway" data-height="800" data-width="1200" data-submitName="Save">
    <p class="validateTips">All fields are required.</p>

    <div id="modalFormPlaceholder"></div>
</div>

<script type="text/javascript">
    $(function () {
        GetMap();

        $('#TravelUp').click(function () {
            var $exModelContainer = $("#expandedModelContainer");
            var currentZ = parseInt($exModelContainer.attr('data-zIndex'));
            var newZ = currentZ + 1;

            $exModelContainer.attr('data-zIndex', newZ);
            $('#levelIndicator').html('Level ' + newZ);

            GetMap();
        });

        $('#TravelDown').click(function () {
            var $exModelContainer = $("#expandedModelContainer");
            var currentZ = parseInt($exModelContainer.attr('data-zIndex'));
            var newZ = currentZ - 1;

            if (currentZ < 0)
                return;

            $exModelContainer.attr('data-zIndex', newZ);
            $('#levelIndicator').html('Level ' + newZ);

            GetMap();
        });
    });

    //RenderRoomForEditWithRadius, RenderWorldMap, RenderZoneMap
    function GetMap() {
        var $exModelContainer = $("#expandedModelContainer");
        var dataId = $exModelContainer.attr("data-id");
        var mapRenderType = '@Model.MapRenderType';
        var radius = '@Model.Radius';

        if (mapRenderType == 'RenderRoomForEditWithRadius') {
            var radius = $exModelContainer.attr("data-zindex");

            $.get('/api/AdminDataApi/' + mapRenderType + '/' + dataId + '/' + radius, function (data) {
                $exModelContainer.html(data);

                BindPathways();
            });
        } else {
            var zIndex = $exModelContainer.attr("data-zindex");

            $.get('/api/AdminDataApi/' + mapRenderType + '/' + dataId + '/' + zIndex, function (data) {
                $exModelContainer.html(data);

                BindPathways();
            });
        }
    };

    function BindPathways() {
        $('.AdminAddPathway').click(function () {
            $("#modalFormPlaceholder").load("/GameAdmin/Pathway/Add/" + $(this).attr('pathwayId') + '/' + $(this).attr('fromRoom') + '/' + $(this).attr('toRoom'));

            $('#modal-form').dialog("open");

            return false;
        });

        $('.AdminEditPathway').click(function () {
            $("#modalFormPlaceholder").load("/GameAdmin/Pathway/Edit/" + $(this).attr('pathwayId') + '/' + $(this).attr('fromRoom') + '/' + $(this).attr('toRoom'));

            $('#modal-form').dialog("open");

            return false;
        });
    };
</script>
