@model NetMud.Models.Admin.ReferenceDataDropdownModel

<label class="col-sm-1 col-form-label" for="@Model.ControlName">@Model.Label</label>
<div class="col-sm-3">
    @Html.DropDownList(@Model.ControlName, @Model.ValidList.Select(rl =>
                        new SelectListItem() { Text = rl.Name, Value = rl.Id.ToString(), Selected = rl.Id.Equals(Model.SelectedItemId) })
                            , "Select One", htmlAttributes: new { id = "@Model.ControlName", @class = "form-control" })
</div>