@model NetMud.Models.ListTableViewModel

@if (!string.IsNullOrWhiteSpace(Model.Name))
{
    <h4>@Model.Name</h4>
}
<table class="table table-striped table-bordered table-hover table-dark">
    <thead>
        <tr>
            @foreach (var column in Model.Columns)
            {
                <th scope="col">@column.Key</th>
            }

            @if (Model.IncludeDelete)
            {
                <th>DELETE</th>
            }

            @if (Model.IncludeUnapprove)
            {
                <th>UNAPPROVE</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var val in Model.Values)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <td>@Html.Raw(column.Value(val))</td>
                }

                @if (Model.IncludeDelete)
                {
                    <td>
                        <div>
                            <div>
                                <button type="submit" name="removeId" id="removeId" class="removeData" value="@val.UniqueKey" title="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <input type="radio" name="authorizeRemove" value="@val.UniqueKey" style="margin-left: 15px;" />
                            </div>
                        </div>
                    </td>
                }

                @if (Model.IncludeUnapprove)
                {
                    <td>
                        <div>
                            <div>
                                <button type="submit" name="unapproveId" id="unapproveId" class="unapproveData" value="@val.UniqueKey" title="Unapprove"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></button>
                                <input type="radio" name="authorizeUnapprove" value="@val.UniqueKey" style="margin-left: 15px;" />
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>