@model NetMud.Models.Admin.EntityContainerViewModel<NetMud.DataStructure.Base.Entity.IInanimate>

@{
    var addRowId = "add" + Model.ContainerName.Replace(" ", "") + "Row";
    var containerRowsId = Model.ContainerName.Replace(" ", "") + "Rows";
    var removeRowId = "remove" + Model.ContainerName.Replace(" ", "") + "Row";
    var containerNameId = Model.ContainerName + "ContainerNames";
    var containerWeightsId = Model.ContainerName + "ContainerWeights";
    var containerVolumesId = Model.ContainerName + "ContainerVolumes";
}

<h3>@Model.ContainerFriendlyName</h3>
<a href="#" id="@addRowId" class="addRow">Add another row...</a>
<div id="@containerRowsId">
    @if (Model.Containers == null || Model.Containers.Count == 0)
    {
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="@removeRowId" title="Remove this">X</a></label>
            @Html.DescriptiveLabelFor(m => m.ContainerNames, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-2">
                <input id="@containerNameId" name="@containerNameId" class="form-control" type="text" value="">
            </div>
            @Html.DescriptiveLabelFor(m => m.ContainerWeights, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-2">
                <input id="@containerWeightsId" name="@containerWeightsId" class="form-control" type="text" value="">
            </div>
            @Html.DescriptiveLabelFor(m => m.ContainerVolumes, new { @class = "col-sm-1 col-form-label" })
            <div class="col-sm-2">
                <input id="@containerVolumesId" name="@containerVolumesId" class="form-control" type="text" value="">
            </div>
        </div>
    }
    else
    {
        foreach (var container in Model.Containers)
        {
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="@removeRowId" title="Remove this">X</a></label>
                @Html.DescriptiveLabelFor(m => m.ContainerNames, new { @class = "col-sm-1 col-form-label" })
                <div class="col-sm-2">
                    <input id="@containerNameId" name="@containerNameId" class="form-control" type="text" value="@container.Name">
                </div>
                @Html.DescriptiveLabelFor(m => m.ContainerWeights, new { @class = "col-sm-1 col-form-label" })
                <div class="col-sm-2">
                    <input id="@containerWeightsId" name="@containerWeightsId" class="form-control" type="text" value="@container.CapacityWeight.ToString()">
                </div>
                @Html.DescriptiveLabelFor(m => m.ContainerVolumes, new { @class = "col-sm-1 col-form-label" })
                <div class="col-sm-2">
                    <input id="@containerVolumesId" name="@containerVolumesId" class="form-control" type="text" value="@container.CapacityVolume.ToString()">
                </div>
            </div>
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var containerNamesLabel = decodeHtml('@Html.DescriptiveLabelFor(m => m.ContainerNames, new { @class = "col-sm-1 col-form-label" }).ToString().Replace(Environment.NewLine, "")');
        var containerNamesBox = '<input id="@containerNameId" name="@containerNameId" class="form-control" type="text" value="">';
        var containerWeightsLabel = decodeHtml('@Html.DescriptiveLabelFor(m => m.ContainerWeights, new { @class = "col-sm-1 col-form-label" }).ToString().Replace(Environment.NewLine, "")');
        var containerWeightsBox = '<input id="@containerWeightsId" name="@containerWeightsId" class="form-control" type="text" value="">';
        var containerVolumesLabel = decodeHtml('@Html.DescriptiveLabelFor(m => m.ContainerVolumes, new { @class = "col-sm-1 col-form-label" }).ToString().Replace(Environment.NewLine, "")');
        var containerVolumesBox = '<input id="@containerVolumesId" name="@containerVolumesId" class="form-control" type="text" value="">';

        $('#@addRowId').click(function () {
            $('#@containerRowsId').append(
                    '<div class="form-group row">' +
                    '<label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="@removeRowId" title="Remove this">X</a></label>' +
                containerNamesLabel + '<div class="col-sm-2">' + containerNamesBox + '</div>' +
                containerWeightsLabel + '<div class="col-sm-2">' + containerWeightsBox + '</div>' +
                containerVolumesLabel + '<div class="col-sm-2">' + containerVolumesBox + '</div>' +
                    '</div>'
                );

            $(".removeRow").click(function () {
                $(this).parent().parent().remove();
                return false;
            });
            return false;
        });
    });
</script>