@model NetMud.Models.ListTableViewModel

@if (!string.IsNullOrWhiteSpace(Model.Name))
{
    <h4>@Model.Name</h4>
}

<div class="searchCriteria">
    @if (Model.IncludeBasicPagingandSearch && Model.PagingModel != null && !string.IsNullOrWhiteSpace(Model.EntityTypeName))
    {
        @Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model.PagingModel, Model.EntityTypeName))
    }
</div>

@if (Model.IncludeAddLink)
{
<div>
    @Html.ActionLink(" ", "Add", Model.EntityTypeName, htmlAttributes: new { @class = "glyphicon-plus-sign glyphicon addNew", @style = "color: green;", @title = "Add New" })
</div>
}

@using (Html.BeginForm("Remove", Model.EntityTypeName))
{
    @Html.AntiForgeryToken()
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <th scope="col">@column.Key</th>
                }

                @if (Model.IncludeDelete)
                {
                    <th>DELETE</th>
                }

                @if (Model.IncludeUnapprove)
                {
                    <th>UNAPPROVE</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var val in Model.Values)
            {
                <tr>
                    @foreach (var column in Model.Columns)
                    {
                        <td>@Html.Raw(column.Value(val))</td>
                    }

                    @if (Model.IncludeDelete)
                    {
                        <td>
                            <div>
                                @Html.Partial("RemoveDataItem", (long)val.Id)
                            </div>
                        </td>
                    }

                    @if (Model.IncludeUnapprove)
                    {
                        <td>
                            <div>
                                @Html.Partial("UnapproveDataItem", (long)val.Id)
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}