@using NetMud.DataStructure.SupportingClasses
@using NetMud.Utility

@model NetMud.Models.Admin.OccurrenceViewModel

@{
    ViewBag.Title = "Descriptive";
}

<section id="addDescriptiveSection">
    @using (Html.BeginForm("AddEditDescriptive", "Pathway", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group row">
            @Html.EditorFor(e => e.Strength, new { columnCount = 3 })
            @Html.EditorFor(e => e.SensoryType, new { columnCount = 3 })
        </div>

        @Html.Partial("~/Views/Shared/Lexica.cshtml", Model)

        <div class="clearfix"></div>

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Zone", ModalWindow = true })
    }
</section>