@model NetMud.Models.Admin.MultipleOccurrenceViewModel

@{
    var occurrenceCount = 0;
}

<h3>Descriptives</h3>
<a href="#" id="addOccurrenceRow" class="addRow">Add another row...</a>
@if (Model.OccurrenceDataObjects == null || Model.OccurrenceDataObjects.Count() == 0)
{
    <div id="occurrenceRows">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="removeValueRow" title="Remove this">X</a></label>
            <div class="form-group row">
                @Html.EditorFor(e => e.Strengths)
            </div>

            @Html.Partial("~/Views/Shared/Lexica.cshtml", new Tuple<NetMud.Models.Admin.LexicaViewModel, int>(Model, 0))
        </div>
    </div>
}
else
{
    foreach (var occurrence in Model.OccurrenceDataObjects)
    {
        <div id="occurrenceRows">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="removeValueRow" title="Remove this">X</a></label>
                @Html.LabelFor(m => m.Strengths, new { @class = "col-sm-1 col-form-label" })
                <div class="col-md-3">
                    <input type="text" id="Strengths" name="Strengths" class="form-control" value="@occurrence.Strength" />
                </div>
            </div>

            @Html.Partial("~/Views/Shared/Lexica.cshtml", new Tuple<NetMud.Models.Admin.LexicaViewModel, int>(Model, occurrenceCount))
        </div>
        occurrenceCount++;
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        var strengthLabel = decodeHtml('@Html.LabelFor(m => m.Strengths, new { @class = "col-sm-1 col-form-label" }).ToString().Replace(Environment.NewLine, "")');
        var strengthControl = decodeHtml('@Html.TextBoxFor(m => m.Strengths, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "")');

        $("#addOccurrenceRow").click(function () {
            $("#occurrenceRows").append(
                '<div class="form-group row">' +
                '<label class="col-sm-1 col-form-label"><a href="#" class="removeRow" id="removeValueRow" title="Remove this">X</a></label>' +
                strengthLabel + '<div class="col-md-3">' + strengthControl + '</div>' +
                '</div>' +
                decodeHtml('@Html.Partial("~/Views/Shared/Lexica.cshtml", new Tuple<NetMud.Models.Admin.LexicaViewModel, int>(Model, occurrenceCount++)).ToString().Replace(Environment.NewLine, "")')
            );

            $(".removeRow").click(function () {
                @occurrenceCount--
                    $(this).parent().parent().remove();
                return false;
            });

            return false;
        });

        $(".removeRow").click(function () {
            @occurrenceCount--
                $(this).parent().parent().remove();
            return false;
        });
    });
</script>
