@model NetMud.DataStructure.Architectural.EntityBase.IEntity

@{
    var location = Model.CurrentLocation;
    var tile = location.GetTile();
    var x = tile.Coordinate.X;
    var y = tile.Coordinate.Y;

    var container = location.CurrentContainer == null ? "" : location.CurrentContainer.TemplateName;
}

<h4>@location.CurrentZone.TemplateName (@x, @y)</h4>
@if(!string.IsNullOrWhiteSpace(container))
{
    <span style="font-style: italic; color: yellowgreen;">inside @container</span>
}

<div class="parserClient">
    <div class="textParserClient">
        <div id="map" class="parserOutput">

        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var map = decodeHtml('@Html.Raw(@tile.RenderCenteredMap(5, 5, true, null, true)).ToString().Replace(Environment.NewLine, "")');

            $('#map').html(map);

            $('div.tile[x-data="@x"][y-data="@y"]').css('border', 'yellow 1px solid');
        });
</script>

<style type="text/css">
    .parserClient {
        padding-bottom: 0;
        font-family: Courier New, Courier, monospace;
        font-size: 11px;
        border: 4px darkgray groove;
        height: 243px;
        max-width: 228px;
        margin: 0 auto;
        background: black;
        border-radius: 0 0 9px 9px;
    }

        .parserClient .textParserClient {
            font-family: Courier New, Courier, monospace;
            overflow-y: hidden;
        }

        .parserClient .parserClientOutput {
            border-top: 4px darkgray groove;
            height: 22.5%;
            padding: 10px;
            overflow-y: scroll;
            color: white;
        }

    .parserOutput {
        width: 100%;
        overflow: hidden;
        padding: 0 5px 0 5px;
        vertical-align: bottom;
        text-align: left;
        z-index: 999;
    }

        .parserOutput p {
            margin-top: 0;
            margin-bottom: 0;
        }

    .tile {
        height: 21px;
        width: 21px;
        display: inline-flex;
        vertical-align: middle;
        overflow: hidden;
        line-height: .8;
        font-size: 14px;
        padding-left: 2px;
        cursor: help;
        text-align: center;
    }

        .tile span {
            margin: auto;
        }
</style>
