@model NetMud.Models.Admin.TwoDimensionalEntityEditViewModel
@{
    var materialsDropdown = Html.DropDownList("ModelPartMaterials", Model.ValidMaterials.Select(rl => new SelectListItem()
    {
        Text = rl.Name,
        Value = rl.Id.ToString()
    }), "Select One"
    , htmlAttributes: new { id = "ModelPartMaterials", @class = "form-control" }).ToString().Replace(Environment.NewLine, "");

    var isAdd = Model.ModelDataObject == null;
}

<div class="clearfix"></div>
<h4>Dimensional Properties</h4>
<hr />
<div class="form-group row">
    @Html.LabelFor(m => m.DimensionalModelId, new { @class = "col-sm-2 col-form-label" })
    <div class="col-md-4">
        @Html.DropDownList("DimensionalModelId", Model.ValidModels.Select(rl =>
                                                                new SelectListItem() { Text = rl.Name, Value = rl.Id.ToString(), Selected = rl.Id.Equals(Model.DimensionalModelId) })
                                                                , "Select One", htmlAttributes: new { id = "DimensionalModelId", Style = "padding: 7px; float:left;" })
        @Html.ValidationMessageFor(m => m.DimensionalModelId, "", new { @class = "text-danger" })
    </div>
</div>
@Html.Partial("DimensionalEntityEditor", Model)
<div class="clearfix"></div>
<h4>Model Parts</h4>
<div id="modelPartRows">
    @if (!isAdd)
    {
        foreach (var container in Model.ModelDataObject.Composition)
        {
            <div class="form-group row">
                @Html.LabelFor(m => m.ModelPartNames, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-4">
                    <input id="ModelPartNames" name="ModelPartNames" class="form-control" type="text" value="@container.Key">
                </div>
                @Html.LabelFor(m => m.ModelPartMaterials, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-4">
                    @Html.DropDownList("ModelPartMaterials", new SelectList(Model.ValidMaterials, "Id", "Name", container.Value.Id)
                                                               , "Select One" , htmlAttributes: new { id = "ModelPartMaterials", @class = "form-control" })
                </div>
            </div>
        }
    }
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    var materialsDropdown = decodeHtml('@materialsDropdown');
    var isAdd = '@isAdd';

    $(document).ready(function () {
        if (isAdd == "True") {
            GetNewDimModDeets();
        }

        $("#DimensionalModelId").change(function () {
            GetNewDimModDeets();
        });
    }); 

    function GetNewDimModDeets() {
        $.ajax({
            url: "/api/AdminDataApi/GetDimensionalData/" + $("#DimensionalModelId").val()
                , async: false
                , success: function (data) {
                    $("#modelPartRows").html('');

                    $.each(data, function (key, name) {
                        $("#modelPartRows").append(
                            '<div class="form-group row"><label class="col-sm-2 col-form-label">Part Name:</label>' +
                            '<div class="col-sm-4"><input id="ModelPartNames" name="ModelPartNames" class="form-control" type="text" value="' + name + '"></div>' +
                            '<label class="col-sm-2 col-form-label">Material:</label><div class="col-sm-4">' + materialsDropdown + '</div></div>'
                        );
                    })
                }
        });
    };
</script>