@model NetMud.Models.GameAdmin.TwoOrThreeDimensionalEntityEditViewModel
@{
    var materialsDropdown = Html.DropDownList("ModelPartMaterials", Model.ValidMaterials.Select(rl => new SelectListItem()
    {
        Text = rl.Name,
        Value = rl.ID.ToString()
    }), htmlAttributes: new { id = "ModelPartMaterials", Style = "padding: 7px; float:left; margin-top: 10px;" }).ToString().Replace(Environment.NewLine, "");

    var isAdd = Model.ModelDataObject == null;
}
<br class="clearfix" />
<div class="form-group">
    @Html.LabelFor(m => m.DimensionalModelId, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownList("DimensionalModelId", Model.ValidModels.Select(rl =>
                                                                new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString(), Selected = rl.ID.Equals(Model.DimensionalModelId) })
                                                                , htmlAttributes: new { id = "DimensionalModelId", Style = "padding: 7px; float:left; margin-top: 10px;" })
        @Html.ValidationMessageFor(m => m.DimensionalModelId, "", new { @class = "text-danger" })
    </div>
</div>
@Html.Partial("DimensionalEntityEditor", Model)
<br class="clearfix" />
<div class="form-group">
    <div style="display: block; padding-bottom: 30px;">
        @Html.LabelFor(m => m.ModelPartNames, new { @class = "col-md-2 control-label" })
    </div>
    <div id="modelPartRows" style="display: block;">
        @if (!isAdd)
        {
            foreach (var container in Model.ModelDataObject.Composition)
            {
                <div class="col-md-10" style="padding-left: 10px;">
                    <span style="padding: 10px; float:left;">Part Name:</span><input id="ModelPartNames" name="ModelPartNames" style="float:left; margin-top: 10px;" type="text" value="@container.Key">
                    <span style="padding: 10px; float:left;">Material: </span>@Html.DropDownList("ModelPartMaterials", Model.ValidMaterials.Select(rl =>
                                                                                            new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString(), Selected = rl.Equals(container.Value) })
                                                                                            , htmlAttributes: new { id = "ModelPartMaterials", Style = "padding: 7px; float:left; margin-top: 10px;" })
                </div>
            }
        }
    </div>
</div>
<br class="clearfix" />

<script type="text/javascript">
    var materialsDropdown = decodeHtml('@materialsDropdown');
    var isAdd = @isAdd ? "true" : "false";

    $(document).ready(function () {
        if (isAdd = "true")
            GetNewDimModDeets();

        $("#DimensionalModelId").change(function () {
            GetNewDimModDeets();
        });
    });

    function GetNewDimModDeets() {
        $.ajax({
            url: "/api/ClientDataApi/GetDimensionalData/" + $("#DimensionalModelId").val()
                , async: false
                , success: function (data) {
                    $("#modelPartRows").html('');

                    $.each(data, function (key, name) {
                        $("#modelPartRows").append(
                            '<div class="col-md-10" style="padding-left:10px;"><span style="padding: 10px; float:left;">Part Name: </span><input id="ModelPartNames" name="ModelPartNames" type="text" value="' + name + '" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Material:</span>' + materialsDropdown + '</div>'
                        );
                    })
                }
        });
    };
</script>