@using NetMud.DataStructure.Base.Supporting
@using NetMud.DataStructure.Behaviors.Automation
@using NetMud.DataStructure.Behaviors.Actionable

@model NetMud.Models.Admin.AddEditRaceViewModel
@{
    ViewBag.Title = "Add New Race";

    <section id="newCharacterForm">
        @using (Html.BeginForm("Add", "Race", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group three-column">
                @Html.EditorFor(e => e.Name)
            </div>

            <div class="form-group two-column">
                @Html.EditorFor(m => m.VisionRangeLow)
                @Html.EditorFor(m => m.VisionRangeHigh)
            </div>
            <div class="form-group two-column">
                @Html.EditorFor(m => m.TemperatureToleranceLow)
                @Html.EditorFor(m => m.TemperatureToleranceHigh)
            </div>

            <div class="form-group three-column">
                @Html.LabelFor(m => m.Breathes, new { @class = "control-label" })
                <div>
                    @Html.DropDownList("Breathes", Enum.GetNames(typeof(RespiratoryType)).Select(rl =>
                        new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(RespiratoryType), rl)).ToString() })
                        , htmlAttributes: new { id = "Breathes", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Breathes, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(m => m.DietaryNeeds, new { @class = "control-label" })
                <div>
                    @Html.DropDownList("DietaryNeeds", Enum.GetNames(typeof(DietType)).Select(rl =>
                          new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(DietType), rl)).ToString() })
                             , htmlAttributes: new { id = "DietaryNeeds", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DietaryNeeds, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(m => m.TeethType, new { @class = "control-label" })
                <div>
                    @Html.DropDownList("TeethType", Enum.GetNames(typeof(DamageType)).Select(rl =>
                          new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "TeethType", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TeethType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group three-column">
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("BloodId", "Blood", Model.ValidMaterials, -1))
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("HeadId", "Head", Model.ValidObjects, -1))
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("TorsoId", "Torso", Model.ValidObjects, -1))
            </div>

            <div class="form-group two-column">
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("ArmsID", "Arms", Model.ValidObjects, -1))
                @Html.EditorFor(m => m.ArmsAmount)
            </div>

            <div class="form-group two-column">
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("LegsID", "Legs", Model.ValidObjects, -1))
                @Html.EditorFor(m => m.LegsAmount)
            </div>

            @Html.Partial("~/Views/GameAdmin/Race/ExtraBodyParts.cshtml", Model)

            <div class="form-group one-column">
                @Html.EditorFor(e => e.HelpBody)
            </div>
            @Html.Partial("SubmitButton", "Create")
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}