@using NetMud.DataStructure.Base.Supporting
@using NetMud.DataStructure.Behaviors.Automation
@using NetMud.DataStructure.Behaviors.Actionable

@model NetMud.Models.Admin.AddEditRaceViewModel
@{
    ViewBag.Title = "Add New Race";

<section id="newCharacterForm">
    @using (Html.BeginForm("Add", "Race", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.EditorFor(e => e.Name, new { columnCount = 3 })
            @Html.EditorFor(e => e.CollectiveNoun, new { columnCount = 3 })
        </div>

        <div class="form-group row">
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("StartingLocationId", "Starting Location", Model.ValidZones, -1))
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("RecallLocationId", "Recall Location", Model.ValidZones, -1))
        </div>

        <div class="form-group row">
            @Html.EditorFor(m => m.VisionRangeLow, new { columnCount = 3 })
            @Html.EditorFor(m => m.VisionRangeHigh, new { columnCount = 3 })
        </div>
        <div class="form-group row">
            @Html.EditorFor(m => m.TemperatureToleranceLow, new { columnCount = 3 })
            @Html.EditorFor(m => m.TemperatureToleranceHigh, new { columnCount = 3 })
        </div>

        <div class="form-group row">
            @Html.DescriptiveLabelFor(m => m.Breathes, new { @class = "col-sm-1 col-form-label" })
            <div class="col-md-3">
                @Html.DropDownList("Breathes", Enum.GetNames(typeof(RespiratoryType)).Select(rl =>
                    new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(RespiratoryType), rl)).ToString() })
                    , "Select One", htmlAttributes: new { id = "Breathes", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Breathes, "", new { @class = "text-danger" })
            </div>
            @Html.DescriptiveLabelFor(m => m.DietaryNeeds, new { @class = "col-sm-1 col-form-label" })
            <div class="col-md-3">
                @Html.DropDownList("DietaryNeeds", Enum.GetNames(typeof(DietType)).Select(rl =>
                      new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(DietType), rl)).ToString() })
                         , "Select One", htmlAttributes: new { id = "DietaryNeeds", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DietaryNeeds, "", new { @class = "text-danger" })
            </div>
            @Html.DescriptiveLabelFor(m => m.TeethType, new { @class = "col-sm-1 col-form-label" })
            <div class="col-md-3">
                @Html.DropDownList("TeethType", Enum.GetNames(typeof(DamageType)).Select(rl =>
                      new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                         , "Select One", htmlAttributes: new { id = "TeethType", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TeethType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("BloodId", "Blood", Model.ValidMaterials, -1))
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("HeadId", "Head", Model.ValidObjects, -1))
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("TorsoId", "Torso", Model.ValidObjects, -1))
        </div>

        <div class="form-group row">
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("ArmsID", "Arms", Model.ValidObjects, -1))
            @Html.EditorFor(m => m.ArmsAmount, new { columnCount = 3 })
        </div>

        <div class="form-group row">
            @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.ReferenceDataDropdownModel("LegsID", "Legs", Model.ValidObjects, -1))
            @Html.EditorFor(m => m.LegsAmount, new { columnCount = 3 })
        </div>

        @Html.Partial("~/Views/GameAdmin/Race/ExtraBodyParts.cshtml", Model)

        <div class="form-group row">
            @Html.EditorFor(e => e.HelpBody)
        </div>
        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Create", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Race", IncludeCancel = true })
    }
</section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}