@using NetMud.DataStructure.Architectural.ActorBase
@using NetMud.DataStructure.Architectural.EntityBase

@model NetMud.Models.Admin.AddEditRaceViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Edit Race", new string[] { "Dashboard", "Races" }, new string[] { "/GameAdmin", "/Race" });
}

<section id="newCharacterForm">
    @using (Html.BeginForm("Edit", "Race", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />

        @Html.EditorFor(m => m.DataObject)

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Race", IncludeCancel = true })
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}