@model NetMud.Models.Admin.ManageRaceDataViewModel
@{
    ViewBag.Title = "Manage Races";
    var prevPageState = Model.CurrentPageNumber > 1 ? String.Empty : "disabled";
    var nextPageState = Model.CurrentPageNumber < Model.NumberOfPages ? String.Empty : "disabled";
}

@{
    <div style="padding: 10px;">@Html.ActionLink("Add New", "Add", null, new { @style = "float: left; margin-top: 30px;" })</div>

    if (Model.Items.Count() > 0)
    {
        @Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model, "Race"))

        using (Html.BeginForm("Remove", "Race"))
        {
            @Html.AntiForgeryToken()
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Remove
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.CurrentPageOfItems)
                    {
                        <tr>
                            <td>@Html.ActionLink(@obj.ID.ToString(), "Edit", new { id = obj.ID } )</td>
                            <td>@obj.Name</td>
                            <td>
                                <div>
                                    @Html.Partial("RemoveDataItem", @obj.ID)
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}