@model NetMud.Models.Admin.AddEditZoneDataViewModel
@{
    var prevPageState = Model.CurrentPageNumber > 1 ? String.Empty : "disabled";
    var nextPageState = Model.CurrentPageNumber < Model.NumberOfPages ? String.Empty : "disabled";
}

@{
    <div>
        @Html.ActionLink("Add New Locale", "Add", "Locale", new { zoneId = Model.DataObject.ID }, new { @class = "addNew" })
    </div>

    if (Model.Items.Count() > 0)
    {
        @Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model, "Locale"))

        using (Html.BeginForm("Remove", "Locale"))
        {
            @Html.AntiForgeryToken()
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Remove
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.CurrentPageOfItems)
                    {
                        <tr>
                            <td>@Html.ActionLink(@obj.ID.ToString(), "Edit", new { zoneId = Model.DataObject.ID, id = obj.ID })</td>
                            <td>
                                @if (obj.FitnessProblems)
                                {
                                    <span style="color:red;" title="@String.Join(", ", obj.FitnessReport())">@obj.Name</span>
                                }
                                else
                                {
                                    @obj.Name
                                }
                            </td>
                            <td>
                                <div>
                                    @Html.Partial("RemoveDataItem", @obj.ID)
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}