@model NetMud.Models.Admin.AddEditStratumViewModel

@{
    <label class="control-label">Layers</label>
    <a href="#" id="addLayerRow" class="addRow">Add another row...</a>
    <div id="LayerRows">
        @if (Model == null || Model.DataObject == null || Model.DataObject.Layers == null || Model.DataObject.Layers.Count == 0)
        {
            <div class="form-group three-column">
                <a href="#" class="removeRow" id="removeLayerRow" title="Remove this">X</a>
                <label class="control-label">&nbsp;</label>
                <div>
                    &nbsp;
                </div>
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
                @Html.LabelFor(m => m.Diameter, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Diameter, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group two-column">
                @Html.LabelFor(m => m.AmbientTemperatureRangeLow, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.AmbientTemperatureRangeLow, new { @class = "form-control" })
                </div>
                @Html.LabelFor(m => m.AmbientTemperatureRangeHigh, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.AmbientTemperatureRangeHigh, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group two-column">
                @Html.LabelFor(m => m.AmbientHumidityRangeLow, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.AmbientHumidityRangeLow, new { @class = "form-control" })
                </div>
                @Html.LabelFor(m => m.AmbientHumidityRangeHigh, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.AmbientHumidityRangeHigh, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group one-column">
                @Html.Partial("~/Views/GameAdmin/World/Layer.cshtml", Model)
            </div>

        }
        else
        {
            foreach (var layer in Model.DataObject.Layers)
            {
                <div class="form-group three-column">
                    <a href="#" class="removeRow" id="removeLayerRow" title="Remove this">X</a>
                    <label class="control-label">&nbsp;</label>
                    <div>&nbsp;</div>
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.Diameter, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Diameter, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group two-column">
                    @Html.LabelFor(m => m.AmbientTemperatureRangeLow, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.AmbientTemperatureRangeLow, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.AmbientTemperatureRangeHigh, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.AmbientTemperatureRangeHigh, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group two-column">
                    @Html.LabelFor(m => m.AmbientHumidityRangeLow, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.AmbientHumidityRangeLow, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(m => m.AmbientHumidityRangeHigh, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.AmbientHumidityRangeHigh, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group one-column">
                    @Html.Partial("~/Views/GameAdmin/World/Layer.cshtml", Model)                
                </div>
            }
        }
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#addLayerRow").click(function () {
            $("#LayerRows").append(
                '<div class="form-group three-column">' +
                '<a href="#" class="removeRow" id="removeLayerRow" title="Remove this">X</a>' +
                '<label class="control-label">&nbsp;</label><div>&nbsp;</div>' +
                decodeHtml('@Html.LabelFor(m => m.Name, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => m.Name, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                decodeHtml('@Html.LabelFor(m => m.Diameter, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => m.Diameter, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                '</div>' +
                '<div class="form-group two-column">' +
                decodeHtml('@Html.LabelFor(m => m.AmbientTemperatureRangeLow, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => m.AmbientTemperatureRangeLow, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                decodeHtml('@Html.LabelFor(m => m.AmbientTemperatureRangeHigh, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => m.AmbientTemperatureRangeHigh, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                '</div>' +
                '<div class="form-group two-column">' +
                decodeHtml('@Html.LabelFor(m => m.AmbientHumidityRangeLow, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => m.AmbientHumidityRangeLow, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                decodeHtml('@Html.LabelFor(m => m.AmbientHumidityRangeHigh, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => m.AmbientHumidityRangeHigh, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                '</div>' +
                '<div class="form-group two-column">' +
                @Html.Partial("~/Views/GameAdmin/World/Layer.cshtml", Model) +
                '</div></div>'
            );

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
            return false;
        });

        $(".removeRow").click(function () {
            $(this).parent().remove();
            return false;
        });
    });
</script>