@model NetMud.Models.Admin.AddEditStratumViewModel

@{
    <label class="control-label">Layers</label>
    <a href="#" id="addLayerRow" class="addRow addLayerRow">Add another row...</a>
        <div id="LayerRows">
            @if (Model == null || Model.DataObject == null || Model.DataObject.Layers == null || Model.DataObject.Layers.Count == 0)
            {
                <div style="background-color: lightgrey; padding:15px; border: 1px solid black;">
                    <a href="#" class="removeRow" id="removeLayerRow" title="Remove this">X</a>
                    <div class="form-group three-column">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.Diameter, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.Diameter, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group two-column">
                        @Html.LabelFor(m => m.AmbientTemperatureRangeLow, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.AmbientTemperatureRangeLow, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.AmbientTemperatureRangeHigh, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.AmbientTemperatureRangeHigh, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group two-column">
                        @Html.LabelFor(m => m.AmbientHumidityRangeLow, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.AmbientHumidityRangeLow, new { @class = "form-control" })
                        </div>
                        @Html.LabelFor(m => m.AmbientHumidityRangeHigh, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.AmbientHumidityRangeHigh, new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.Partial("~/Views/GameAdmin/World/Layer.cshtml", new Tuple<KeyValuePair<string, NetMud.DataStructure.Base.Place.IStratumLayer>, IEnumerable<NetMud.DataStructure.Base.Supporting.IMaterial>>(new KeyValuePair<string, NetMud.DataStructure.Base.Place.IStratumLayer>(), Model.ValidMaterials))
                </div>
            }
            else
            {
                foreach (var layer in Model.DataObject.Layers)
                {
                    <div style="background-color: lightgrey; padding:15px; border: 1px solid black;">
                        <a href="#" class="removeRow" id="removeLayerRow" title="Remove this">X</a>
                        <div class="form-group three-column">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(m => m.Diameter, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Diameter, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group two-column">
                            @Html.LabelFor(m => m.AmbientTemperatureRangeLow, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.AmbientTemperatureRangeLow, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(m => m.AmbientTemperatureRangeHigh, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.AmbientTemperatureRangeHigh, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group two-column">
                            @Html.LabelFor(m => m.AmbientHumidityRangeLow, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.AmbientHumidityRangeLow, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(m => m.AmbientHumidityRangeHigh, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.AmbientHumidityRangeHigh, new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Partial("~/Views/GameAdmin/World/Layer.cshtml", new Tuple<KeyValuePair<string, NetMud.DataStructure.Base.Place.IStratumLayer>, IEnumerable<NetMud.DataStructure.Base.Supporting.IMaterial>>(layer, Model.ValidMaterials))
                    </div>
                }
            }
        </div>
}