@model NetMud.Models.Admin.AddEditWorldViewModel

@{
    var nullStratumModel = new NetMud.Models.Admin.AddEditStratumViewModel(null);

    <label class="control-label">Strata</label>
    <a href="#" id="addStratumRow" class="addRow">Add another row...</a>
    <div id="StratumRows">
        @if (Model.DataObject == null || Model.DataObject.Strata == null || Model.DataObject.Strata.Count == 0)
        {
            <div style="border: 1px solid black; padding: 15px;">
                <a href="#" class="removeRow" id="removeStratumRow" title="Remove this">X</a>
                @Html.Partial("~/Views/GameAdmin/World/Stratum.cshtml", nullStratumModel)
            </div>
        }
        else
        {
            foreach (var Stratum in Model.DataObject.Strata)
            {
                <div style="border: 1px solid black; padding: 15px;">
                    <a href="#" class="removeRow" id="removeStratumRow" title="Remove this">X</a>
                    @Html.Partial("~/Views/GameAdmin/World/Stratum.cshtml", new NetMud.Models.Admin.AddEditStratumViewModel(Stratum))
                </div>
            }
        }
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#addStratumRow").click(function () {
            var stratumRow = '@Html.Partial("~/Views/GameAdmin/World/Stratum.cshtml", nullStratumModel).ToString().Replace(Environment.NewLine, "")';

            $("#StratumRows").append(
                '<div style="border: 1px solid black; padding: 15px;">' +
                '<a href="#" class="removeRow" id="removeStratumRow" title="Remove this">X</a>' +
                decodeHtml(stratumRow) +
                '</div>'
            );

            $(".addLayerRow").unbind("click");

            $(".addLayerRow").bind("click", function () {
                $(this).next("#LayerRows").append(
                    '<div style="background-color: lightgrey; padding:15px; border: 1px solid black;">' +
                    '<a href="#" class="removeRow" id="removeLayerRow" title="Remove this">X</a>' +
                    '<div class="form-group three-column">' +
                    decodeHtml('@Html.LabelFor(m => nullStratumModel.StratumName, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '<div>' +
                    decodeHtml('@Html.TextBoxFor(m => nullStratumModel.StratumName, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '</div>' +
                    decodeHtml('@Html.LabelFor(m => nullStratumModel.Diameter, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '<div>' +
                    decodeHtml('@Html.TextBoxFor(m => nullStratumModel.Diameter, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group two-column">' +
                    decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientTemperatureRangeLow, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '<div>' +
                    decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientTemperatureRangeLow, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '</div>' +
                    decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientTemperatureRangeHigh, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '<div>' +
                    decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientTemperatureRangeHigh, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group two-column">' +
                    decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientHumidityRangeLow, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '<div>' +
                    decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientHumidityRangeLow, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '</div>' +
                    decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientHumidityRangeHigh, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '<div>' +
                    decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientHumidityRangeHigh, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                    '</div>' +
                    '</div>' +
                    decodeHtml('@Html.Partial("~/Views/GameAdmin/World/Layer.cshtml", new Tuple<KeyValuePair<string, NetMud.DataStructure.Base.Place.IStratumLayer>, IEnumerable<NetMud.DataStructure.Base.Supporting.IMaterial>>(new KeyValuePair<string, NetMud.DataStructure.Base.Place.IStratumLayer>(), Model.ValidMaterials)).ToString().Replace(Environment.NewLine, "")') +
                    '</div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
            });

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });

            return false;
        });

        $(".addLayerRow").click(function () {
            $(this).next("#LayerRows").append(
                '<div style="background-color: lightgrey; padding:15px; border: 1px solid black;">' +
                '<a href="#" class="removeRow" id="removeLayerRow" title="Remove this">X</a>' +
                '<div class="form-group three-column">' +
                decodeHtml('@Html.LabelFor(m => nullStratumModel.StratumName, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => nullStratumModel.StratumName, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                decodeHtml('@Html.LabelFor(m => nullStratumModel.Diameter, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => nullStratumModel.Diameter, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                '</div>' +
                '<div class="form-group two-column">' +
                decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientTemperatureRangeLow, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientTemperatureRangeLow, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientTemperatureRangeHigh, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientTemperatureRangeHigh, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                '</div>' +
                '<div class="form-group two-column">' +
                decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientHumidityRangeLow, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientHumidityRangeLow, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                decodeHtml('@Html.LabelFor(m => nullStratumModel.AmbientHumidityRangeHigh, new { @class = "control-label" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '<div>' +
                decodeHtml('@Html.TextBoxFor(m => nullStratumModel.AmbientHumidityRangeHigh, new { @class = "form-control" }).ToString().Replace(Environment.NewLine, "").ToString().Replace(Environment.NewLine, "")') +
                '</div>' +
                '</div>' +
                decodeHtml('@Html.Partial("~/Views/GameAdmin/World/Layer.cshtml", new Tuple<KeyValuePair<string, NetMud.DataStructure.Base.Place.IStratumLayer>, IEnumerable<NetMud.DataStructure.Base.Supporting.IMaterial>>(new KeyValuePair<string, NetMud.DataStructure.Base.Place.IStratumLayer>(), Model.ValidMaterials)).ToString().Replace(Environment.NewLine, "")') +
                '</div>'
            );

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
        });

        $(".removeRow").click(function () {
            $(this).parent().remove();
            return false;
        });
    });
</script>