@model NetMud.Models.Admin.AddEditLocaleTemplateViewModel
@{ 
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Add Locale", new string[] { "Dashboard", "Locale" }, new string[] { "/GameAdmin", "/Locale" });
}

<section id="newLocaleForm">
    @using (Html.BeginForm("Add", "Locale", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="zoneId" id="zoneId" value="@Model.ZoneId" />

        @Html.EditorFor(m => m.DataObject)

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Edit", ReturnController = "Zone", IncludeCancel = true })
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}