@model NetMud.Models.Admin.AddEditLocaleDataViewModel
@{
    ViewBag.Title = "Add New Locale";
}

@{
    <section id="newCharacterForm">
        @using (Html.BeginForm("Add", "Locale", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group one-column">
                @Html.EditorFor(e => e.Name)
            </div>
            @Html.Partial("SubmitButton", "Create")
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}