@model NetMud.Models.Admin.AddEditLocaleDataViewModel
@{
    ViewBag.Title = "Edit Locale";
}

<section id="newLocaleForm">
    @using (Html.BeginForm("Edit", "Locale", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />
        <div class="form-group row">
            @Html.EditorFor(e => e.Name)
        </div>

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Zone", IncludeCancel = true })
    }
</section>

<div class="clearfix"></div>
@Html.Partial("AsciiMap", new NetMud.Models.AsciiMapViewModel("RenderLocaleMapForEdit", Model.DataObject.Id, 0))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}