@model NetMud.Models.Admin.ViewLocaleViewModel
@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("View Locale", new string[] { "Dashboard", "Locales" }, new string[] { "/GameAdmin#tabs-2", "/LiveAdmin/Locales" });
    var longDesc = new NetMud.Communication.Messaging.Message(Model.DataObject.RenderToVisible(null)).Unpack(NetMud.DataStructure.System.TargetEntity.Actor);
}
<h3>@Model.DataObject.TemplateName</h3>
<div class="accordionWrapper">
    <h5>Description</h5>
    <div>
        <h4>
            @longDesc
        </h4>
        @using (Html.BeginForm("Locale", "LiveAdmin", FormMethod.Get, new { id = "descriptionModifier" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="birthMark" id="birthMark" value="@Model.DataObject.BirthMark" />
            <div class="form-group row">
                @Html.EditorFor(m => m.Language, new { validItems = Model.ValidLanguages })
                @Html.EditorFor(m => m.Quality)
                @Html.EditorFor(m => m.Severity)
                @Html.EditorFor(m => m.Elegance)
            </div>
            @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "ReDescribe", ReturnAction = "Locale", ReturnController = "LiveAdmin", IncludeCancel = false })
        }
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">View</a></li>
        <li><a href="#tabs-2">Edit</a></li>
        <li><a href="#tabs-3">Map</a></li>
    </ul>
    <div id="tabs-1" data-tabNumber="1">
        <div class="entityDataInfoCard">
            <h4>Discovery Basis</h4>
            <hr />
            <div>
                <span>Always Discovered</span>
                <span>@Model.DataObject.AlwaysDiscovered</span>
            </div>
            <div>
                <span>Discovery Name</span>
                <span>@Model.DataObject.DiscoveryName</span>
            </div>

            <h4>Qualities</h4>
            <hr />
            @foreach (var quality in Model.DataObject.Qualities)
            {
                @Html.DisplayFor(m => quality)
            }
        </div>
    </div>
    <div id="tabs-2" data-tabNumber="2">
        <section id="editLocaleForm">
            @using (Html.BeginForm("EditLocale", "LiveAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="birthMark" id="birthMark" value="@Model.DataObject.BirthMark" />

                @Html.EditorFor(m => m.DataObject)

                @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Zone", IncludeCancel = true })
            }
        </section>

        @Html.Partial("~/Views/LiveAdmin/Locale/SensoryEventList.cshtml", Model.DataObject)
    </div>
    <div id="tabs-3" data-tabNumber="3">
        <div class="clearfix"></div>
        @Html.Partial("LiveAsciiMap", new NetMud.Models.LiveAsciiMapViewModel("RenderLiveLocaleMapForEdit", Model.DataObject.BirthMark, 0))
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
