@model NetMud.Models.Admin.ViewIntelligenceViewModel
@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("View NPC", new string[] { "Dashboard", "NPCs" }, new string[] { "/GameAdmin", "/LiveAdmin/NPCs" });
    var longDesc = new NetMud.Communication.Messaging.MessageCluster(Model.DataObject.RenderToLook(null)).Unpack(NetMud.DataStructure.System.TargetEntity.Actor);
}
<h3>@Model.DataObject.TemplateName</h3>
<div>
    @longDesc
</div>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">View</a></li>
        <li><a href="#tabs-2">Edit</a></li>
        <li><a href="#tabs-3">Map</a></li>
    </ul>
    <div id="tabs-1" data-tabNumber="1">
    </div>
    <div id="tabs-2" data-tabNumber="2">
        <section id="editZoneForm">
            @using (Html.BeginForm("EditNPC", "LiveAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="birthMark" id="birthMark" value="@Model.DataObject.BirthMark" />

                @Html.EditorFor(m => m.DataObject)

                @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Zone", IncludeCancel = true })
            }
        </section>

        @Html.Partial("~/Views/LiveAdmin/NPC/SensoryEventList.cshtml", Model.DataObject)
    </div>
    <div id="tabs-3" data-tabNumber="3">
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
