@model int

<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog dockable" title="Settings"></span></a>
<ul class="dropdown-menu dropdown-menu-left dockingMenu" role="menu" aria-labelledby="dropdownMenu">
    <li class="dropdown-header" style="color: mediumvioletred">Quadrant @Model</li>
    <li><a href="#" style="padding: 5px; color: black;" class="quadrantDocker" data-destination-quadrant="-1" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-resize-full" style="padding-right: 5px;"></span>Undock</a></li>
    <li class="divider"></li>
    @if (Model == 1)
    {
        <li><a href="#" style="padding: 5px;" disabled="disabled"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 1</a></li>
    }
    else
    {
        <li><a href="#" style="padding: 5px; color: black;" class="quadrantDocker" data-destination-quadrant="1" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 1</a></li>
    }
    @if (Model == 2)
    {
        <li><a href="#" style="padding: 5px;" disabled="disabled"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 2</a></li>
    }
    else
    {
        <li><a href="#" style="padding: 5px; color: black;" class="quadrantDocker" data-destination-quadrant="2" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 2</a></li>
    }
    @if (Model == 3)
    {
        <li><a href="#" style="padding: 5px;" disabled="disabled"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 3</a></li>
    }
    else
    {
        <li><a href="#" style="padding: 5px; color: black;" class="quadrantDocker" data-destination-quadrant="3" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 3</a></li>
    }
    @if (Model == 4)
    {
        <li><a href="#" style="padding: 5px;" disabled="disabled"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 4</a></li>
    }
    else
    {
        <li><a href="#" style="padding: 5px; color: black;" class="quadrantDocker" data-destination-quadrant="4" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-resize-small" style="padding-right: 5px;"></span>Dock Quadrant 4</a></li>
    }
    <li class="divider"></li>
    <li><a href="#" style="padding: 5px; color: black;" class="quadrantLoad" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-cloud-download" style="padding-right: 5px;"></span>Load Module</a></li>
    <li><a href="#" style="padding: 5px; color: black;" class="quadrantSave" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-cloud-upload" style="padding-right: 5px;"></span>Save Module</a></li>
</ul>