@model int

<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog dockable" title="Settings"></span></a>
<ul class="dropdown-menu dropdown-menu-left dockingMenu" role="menu" aria-labelledby="dropdownMenu">
    <li class="dropdown-header" style="color: mediumvioletred" id="quadrantName">Quadrant @Model</li>
    <li><a href="#" class="quadrantDocker moduleMenuItem" data-destination-quadrant="-1" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-resize-full"></span>Undock</a></li>
    <li class="divider"></li>
    @for (var i = 1; i <= 4; i++)
    {
        if (Model == i)
        {
            <li><a href="#" disabled="disabled" class="moduleMenuItem"><span class="glyphicon glyphicon-resize-small"></span>Dock Quadrant @i</a></li>
        }
        else
        {
            <li>
                <a href="#" class="quadrantDocker moduleMenuItem" data-destination-quadrant="@i" data-origin-quadrant="@Model">
                    <span class="glyphicon glyphicon-resize-small"></span>Dock Quadrant @i</a>
            </li>
        }
    }
    <li class="divider"></li>
    <li>
        <a href="#" class="quadrantLoad moduleMenuItem" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-cloud-download"></span>Load Module</a>
        <input id="loadModuleName" title="Module Name?" class="moduleNameFinder" />
    </li>
    <li><a href="#" class="quadrantSave moduleMenuItem" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-cloud-upload"></span>Save Module</a></li>
    <li class="divider"></li>
    <li><a href="#" class="quadrantWipe moduleMenuItem" data-origin-quadrant="@Model"><span class="glyphicon glyphicon-remove-circle"></span>Wipe Module</a></li>
</ul>