@model NetMud.Models.Admin.AddEditPathwayDataViewModel

@{
    var postType = Model.DataObject != null ? "Edit" : "Add";
    ViewBag.Title = postType + " Pathway";
}

@using (Html.BeginForm(postType, "Pathway", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group three-column">
            @Html.EditorFor(model => model.Name)
            @Html.HiddenFor(m => m.ToLocationID)
            @Html.HiddenFor(m => m.FromLocationID)
            <label id="lblFromLocation" class="control-label">Origin:</label>
            <div style="padding-top: 7px;">@Model.FromLocation.Name</div>
            <label id="lblToLocation" class="control-label">Destination:</label>
            <div style="padding-top: 7px;">@Model.ToLocation.Name</div>
        </div>

        <div class="form-group two-column">
            @Html.EditorFor(model => model.VisibleToSurroundings)
            @Html.EditorFor(model => model.VisibleStrength)
        </div>
        <div class="form-group two-column">
            @Html.EditorFor(model => model.AudibleToSurroundings)
            @Html.EditorFor(model => model.AudibleStrength)
        </div>

        <div class="form-group two-column">
            @Html.EditorFor(model => model.MessageToDestination)
            @Html.EditorFor(model => model.MessageToOrigin)
        </div>
        <div class="form-group two-column">
            @Html.EditorFor(model => model.MessageToActor)
            @Html.EditorFor(model => model.DegreesFromNorth)
        </div>

        @Html.Partial("TwoDimensionalEntityEditor", Model)

        @Html.Partial("SubmitButton", "Commit")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
