@model NetMud.Models.Admin.AddEditPathwayDataViewModel

@{
    var postType = Model.DataObject != null ? "Edit" : "Add";
    ViewBag.Title = postType + " Pathway";
}

@using (Html.BeginForm(postType, "Pathway", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
}

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.HiddenFor(m => m.DestinationID)
        @Html.HiddenFor(m => m.OriginID)

        <label id="lblOrigin" class="col-sm-1 col-form-label">Origin:</label>
        <div class="col-md-3">@Model.Origin.Name</div>
        <label id="lblDestination" class="col-sm-1 col-form-label">Destination:</label>
        <div class="col-md-3">@Model.Destination.Name</div>
    </div>

    <div class="form-group row">
        @Html.EditorFor(model => model.Name, new { columnCount = 3 })
        @Html.EditorFor(model => model.DegreesFromNorth, new { columnCount = 3 })
    </div>

    @Html.Partial("TwoDimensionalEntityEditor", Model)

    @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Zone", ModalWindow = true })
</div>

@Html.Partial("~/Views/GameAdmin/Pathway/OccurrenceList.cshtml", Model.DataObject)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
