@model NetMud.Models.Admin.AddEditPathwayDataViewModel

@{
    ViewBag.Title = "Add New Pathway With New Room";
}

@using (Html.BeginForm("AddWithRoom", "Pathway", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group three-column">
            @Html.EditorFor(model => model.Name)
            @Html.HiddenFor(m => m.DestinationID)
            @Html.HiddenFor(m => m.OriginID)
            <label id="lblOrigin" class="control-label">Origin:</label>
            <div style="padding-top: 7px;">@Model.Origin.Name</div>
            <label id="lblDestination" class="control-label">Destination:</label>
            <div style="padding-top: 7px;">NEW ROOM</div>
        </div>
        <div class="form-group two-column">
            @Html.EditorFor(model => model.VisibleToSurroundings)
            @Html.EditorFor(model => model.VisibleStrength)
        </div>
        <div class="form-group two-column">
            @Html.EditorFor(model => model.AudibleToSurroundings)
            @Html.EditorFor(model => model.AudibleStrength)
        </div>

        <div class="form-group two-column">
            @Html.EditorFor(model => model.MessageToDestination)
            @Html.EditorFor(model => model.MessageToOrigin)
        </div>
        <div class="form-group two-column">
            @Html.EditorFor(model => model.MessageToActor)
            @Html.EditorFor(model => model.DegreesFromNorth)
        </div>

        @Html.Partial("TwoDimensionalEntityEditor", Model)

        <h3>New Room</h3>
        <hr />
        <div class="form-group three-column">
            @Html.EditorFor(e => e.NewRoomModel.Name)
            @Html.LabelFor(m => m.NewRoomModel.Zone, new { @class = "control-label" })
            <div>
                @Html.DropDownList("Zone", Model.NewRoomModel.ValidZones.Select(rl =>
                                            new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString() })
                                         , htmlAttributes: new { id = "Zone", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewRoomModel.Zone, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.NewRoomModel.Medium, new { @class = "control-label" })
            <div>
                @Html.DropDownList("Medium", Model.NewRoomModel.ValidMaterials.Select(rl =>
                        new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString() })
                 , htmlAttributes: new { id = "Medium", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewRoomModel.Medium, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Partial("DimensionalEntityEditor", Model.NewRoomModel)

        @Html.Partial("SubmitButton", "Commit")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
