@model NetMud.DataStructure.Base.EntityBackingData.IPathwayData

@{
    var linkText = Html.ActionLink("99999999", "AddEditDescriptive", "Pathway", new { descriptiveType = 99999999, id = Model.Id }).ToString();
    var tableColumns = new Dictionary<string, Func<dynamic, string>>();
    tableColumns.Add("Role", obj => string.Format("<a href='#' class='editDescriptive' data-descriptive-type='{1}'>{0}</a>", obj.Event.Role, (short)obj.Event.Role));
    tableColumns.Add("Phrase", obj => obj.Event.Phrase);
    tableColumns.Add("Type", obj => obj.Event.Type.ToString());
    tableColumns.Add("Strength", obj => obj.Strength.ToString());
    tableColumns.Add("DELETE", obj =>
        string.Format("<div></div>"
                       + "<button type='submit' name='id' id='id' class='removeData' value='{0}' title='Delete this'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>"
                       + "<input type='radio' name='authorize' value='{1}' style='margin-left: 15px;' />", Model.Id, obj.Event.Type.ToString()));
}

<div class="clearfix"></div>
<h3>Descriptives for Pathway</h3>
<hr />
<div>
    <a href="#" class="addNew">Add New Descriptive</a>
</div>

@if (Model.Descriptives.Count() > 0)
{
    using (Html.BeginForm("RemoveDescriptive", "Pathway"))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("ListTable", new NetMud.Models.ListTableViewModel() { Name = "", Columns = tableColumns, Values = Model.Descriptives, IncludeDelete = false })
    }
}

@Scripts.Render("/Scripts/adminModal.js")

<script>
        $(document).ready(function () {
            $('.addNew').click(function () {
                openFrameless(1400, 900, 0, 0, "/GameAdmin/Pathway/AddEditDescriptive/" + @Model.Id + '/-1', 'Add Descriptive', true);

                return false;
            });

            $('.editDescriptive').click(function () {
                openFrameless(1400, 900, 0, 0, "/GameAdmin/Pathway/AddEditDescriptive/" + @Model.Id + '/' + $(this).attr('data-descriptive-type'), 'Add Descriptive', true);

                return false;
            });
        });
</script>