@model NetMud.Models.Admin.AddEditHelpDataViewModel
@{
    ViewBag.Title = "Add New Help File";
    //TODO: http://www.growingwiththeweb.com/2012/12/aspnet-mvc-display-and-editor-templates.html
}

@{
    <section id="newCharacterForm">
        @using (Html.BeginForm("Add", "Help", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.EditorFor(e => e.NewName)
            @Html.EditorFor(e => e.NewHelpText)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}