@using NetMud.DataStructure.Base.Supporting

@model NetMud.Models.Admin.AddEditMaterialViewModel

@{
    ViewBag.Title = "Add New Material";

    <section id="newCharacterForm">
        @using (Html.BeginForm("Add", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group one-column">
                @Html.EditorFor(e => e.NewName)
            </div>
            <div class="form-group three-column">
                @Html.EditorFor(e => e.NewConductive)
                @Html.EditorFor(e => e.NewMagnetic)
                @Html.EditorFor(e => e.NewFlammable)
            </div>
            <div class="form-group three-column">
                @Html.EditorFor(e => e.NewViscosity)
                @Html.EditorFor(e => e.NewDensity)
                @Html.EditorFor(e => e.NewMallebility)
            </div>
            <div class="form-group three-column">
                @Html.EditorFor(e => e.NewSolidPoint)
                @Html.EditorFor(e => e.NewGasPoint)
                @Html.EditorFor(e => e.NewTemperatureRetention)
            </div>
            <div class="form-group two-column">
                @Html.EditorFor(e => e.NewDuctility)
                @Html.EditorFor(e => e.NewPorosity)
            </div>

            @Html.Partial("~/Views/GameAdmin/Material/Resistances.cshtml", Model)
            @Html.Partial("~/Views/GameAdmin/Material/Compositions.cshtml", Model)

            <div class="form-group one-column">
                @Html.EditorFor(e => e.NewHelpBody)
            </div>
            @Html.Partial("SubmitButton", "Create")

        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}