@model NetMud.Models.Admin.AddEditMaterialViewModel

<section id="newCharacterForm">
    @using (Html.BeginForm("Add", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.EditorFor(e => e.Name)
        </div>
        <div class="form-group row">
            @Html.EditorFor(e => e.Conductive, new { columnCount = 2 })
            @Html.EditorFor(e => e.Magnetic, new { columnCount = 2 })
            @Html.EditorFor(e => e.Flammable, new { columnCount = 2 })
        </div>
        <div class="form-group row">
            @Html.EditorFor(e => e.Viscosity, new { columnCount = 3 })
            @Html.EditorFor(e => e.Density, new { columnCount = 3 })
            @Html.EditorFor(e => e.Mallebility, new { columnCount = 3 })
        </div>
        <div class="form-group row">
            @Html.EditorFor(e => e.SolidPoint, new { columnCount = 3 })
            @Html.EditorFor(e => e.GasPoint, new { columnCount = 3 })
            @Html.EditorFor(e => e.TemperatureRetention, new { columnCount = 3 })
        </div>
        <div class="form-group row">
            @Html.EditorFor(e => e.Ductility, new { columnCount = 3 })
            @Html.EditorFor(e => e.Porosity, new { columnCount = 3 })
        </div>

        @Html.Partial("~/Views/GameAdmin/Material/Resistances.cshtml", Model)
        @Html.Partial("~/Views/GameAdmin/Material/Compositions.cshtml", Model)

        <div class="form-group row">
            @Html.EditorFor(e => e.HelpBody)
        </div>
        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Create", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Material", IncludeCancel = true })

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}