@using NetMud.DataStructure.Base.Supporting

@model NetMud.Models.Admin.AddEditMaterialViewModel
@{
    ViewBag.Title = "Edit Material";

    var compositionsDropdown = Html.DropDownList("Compositions", Model.ValidMaterials.Select(rl => new SelectListItem()
    {
        Text = rl.Name,
        Value = rl.ID.ToString()
    }), htmlAttributes: new { id = "Compositions", Style = "padding: 7px; float:left; margin-top: 10px;" }).ToString().Replace(Environment.NewLine, "");

    var resistancesDropdown = Html.DropDownList("Resistances", Enum.GetNames(typeof(DamageType)).Select(rl => new SelectListItem()
    {
        Text = rl,
        Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString()
    }), htmlAttributes: new { id = "Resistances", Style = "padding: 7px; float:left; margin-top: 10px;" }).ToString().Replace(Environment.NewLine, "");
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    <section id="newCharacterForm">
        @using (Html.BeginForm("Edit", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.ID" />
            @Html.EditorFor(e => e.NewName)
            @Html.EditorFor(e => e.NewConductive)
            @Html.EditorFor(e => e.NewMagnetic)
            @Html.EditorFor(e => e.NewFlammable)
            @Html.EditorFor(e => e.NewViscosity)
            @Html.EditorFor(e => e.NewDensity)
            @Html.EditorFor(e => e.NewMallebility)
            @Html.EditorFor(e => e.NewDuctility)
            @Html.EditorFor(e => e.NewPorosity)
            @Html.EditorFor(e => e.NewSolidPoint)
            @Html.EditorFor(e => e.NewGasPoint)
            @Html.EditorFor(e => e.NewTemperatureRetention)
            @Html.EditorFor(e => e.NewHelpBody)

            <div class="form-group">
                <div style="display: block; padding-bottom: 10px;">
                    @Html.LabelFor(m => m.Resistances, new { @class = "col-md-3 control-label" })
                    <a href="#" id="addResistancesRow" style="padding: 10px;">Add another...</a>
                </div>
                <div id="resistancesRows" style="display: block;">
                    @foreach (var container in Model.DataObject.Resistance)
                    {
                        <div class="col-md-9" style="padding-left: 10px;">
                            <span style="padding: 10px; float:left;">Type: </span>@Html.DropDownList("Resistances", Enum.GetNames(typeof(DamageType)).Select(rl =>
                                                                                    new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString(), Selected = rl.Equals(Enum.GetName(typeof(DamageType), container.Key)) })
                                                                                    , htmlAttributes: new { id = "Resistances", Style = "padding: 7px; float:left; margin-top: 10px;"})
                            <span style="padding: 10px; float:left;">Amount:</span><input id="ResistanceValues" name="ResistanceValues" type="text" style="float:left; margin-top: 10px;"  value="@container.Value">
                            <a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a>
                        </div>
                    }
                </div>
            </div>
            <br class="clearfix" />
            <div class="form-group">
                <div style="display: block; padding-bottom: 10px;">
                    @Html.LabelFor(m => m.Compositions, new { @class = "col-md-3 control-label" })
                    <a href="#" id="addCompositionsRow" style="padding: 10px;">Add another...</a>
                </div>
                <div id="compositionsRows" style="display: block;">
                    @foreach (var container in Model.DataObject.Composition)
                    {
                        <div class="col-md-9" style="padding-left: 10px;">
                            <span style="padding: 10px; float:left;">Material: </span>>@Html.DropDownList("Compositions", Model.ValidMaterials.Select(rl =>
                                                                                    new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString(), Selected = rl.ID.Equals(@container.Key.ID) })
                                                                                    , htmlAttributes: new { id = "Compositions", Style = "padding: 7px; float:left; margin-top: 10px;" })
                            <span style="padding: 10px; float:left;">Percentage:</span><input id="CompositionPercentages" name="CompositionPercentages" type="text" style="float:left; margin-top: 10px;" value="@container.Value">
                            <a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Commit" class="btn btn-default" style="color: green; border-color: cadetblue;" />
                    @Html.ActionLink("Cancel", "Index", "Material", new { @class = "btn btn-default", @style = "color: orange; border-color: red;" })
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/HtmlUtilities.js")

    <script type="text/javascript">
        var compositionsDropdown = decodeHtml('@compositionsDropdown');
        var resistancesDropdown = decodeHtml('@resistancesDropdown');

        $(document).ready(function () {
            $("#addResistancesRow").click(function () {
                $("#resistancesRows").append(
                    '<div class="col-md-9" style="padding-left: 10px;"><span style="padding: 10px; float:left;">Type: </span>' + resistancesDropdown + '<span style="padding: 10px; float:left;">Amount:</span><input id="ResistanceValues" name="ResistanceValues" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $("#addCompositionsRow").click(function () {
                $("#compositionsRows").append(
                    '<div class="col-md-9" style="padding-left: 10px;"><span style="padding: 10px; float:left;">Material: </span>' + compositionsDropdown + '<span style="padding: 10px; float:left;">Percentage:</span><input id="CompositionPercentages" name="CompositionPercentages" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
        });
    </script>
}