@model NetMud.Models.Admin.AddEditMaterialViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Edit Material", new string[] { "Dashboard", "Materials" }, new string[] { "/GameAdmin", "/Material" });
}


<div class="accordionWrapper">
    <h5>Load Archival View</h5>
    @using (Html.BeginForm("Edit", "Material", FormMethod.Get, new { @class = "form-horizontal", role = "form", @name = "applyTemplateForm", @id = "applyTemplateForm" }))
    {
        <div class="form-group row">
            @Html.EditorFor(m => m.ArchivePath, "SimpleDropdown", "", new { validItems = Model.Archives })
            <input type="submit" value="Apply" class="btn btn-default save" , style="margin-left: 25px;" />
        </div>
    }
</div>

<section id="editMaterialForm">
    @using (Html.BeginForm("Edit", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />

        @Html.EditorFor(m => m.DataObject, new { ArchiveTemplate = Model.DataTemplate, ValidMaterials = Model.ValidMaterials })

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Material", IncludeCancel = true })

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}