@using NetMud.DataStructure.Base.Supporting

@model NetMud.Models.Admin.AddEditMaterialViewModel
@{
    ViewBag.Title = "Edit Material";

    <section id="newCharacterForm">
        @using (Html.BeginForm("Edit", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.ID" />
            <div class="form-group one-column">
                @Html.EditorFor(e => e.NewName)
            </div>
            <div class="form-group three-column">
                @Html.EditorFor(e => e.NewConductive)
                @Html.EditorFor(e => e.NewMagnetic)
                @Html.EditorFor(e => e.NewFlammable)
            </div>
            <div class="form-group three-column">
                @Html.EditorFor(e => e.NewViscosity)
                @Html.EditorFor(e => e.NewDensity)
                @Html.EditorFor(e => e.NewMallebility)
            </div>
            <div class="form-group three-column">
                @Html.EditorFor(e => e.NewSolidPoint)
                @Html.EditorFor(e => e.NewGasPoint)
                @Html.EditorFor(e => e.NewTemperatureRetention)
            </div>
            <div class="form-group two-column">
                @Html.EditorFor(e => e.NewDuctility)
                @Html.EditorFor(e => e.NewPorosity)
            </div>
            @Html.Partial("~/Views/GameAdmin/Material/Resistances.cshtml", Model)
            @Html.Partial("~/Views/GameAdmin/Material/Compositions.cshtml", Model)

            <div class="form-group one-column">
                @Html.EditorFor(e => e.NewHelpBody)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Commit" class="btn btn-default save" />
                    @Html.ActionLink("Cancel", "Index", "Material", new { @class = "btn btn-default cancel" })
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}