@using NetMud.DataStructure.SupportingClasses

@model NetMud.Models.Admin.ManageContentApprovalsViewModel

@if (Model.Items.Count() > 0)
{
    @Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model, "ContentApproval"))

    <!--can't use the partial for list table here, we need a custom one-->
    using (Html.BeginForm("ApproveDeny", "ContentApproval"))
    {
        @Html.AntiForgeryToken()
        <h4>Approvals</h4>
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Preview</th>
                    <th>APPROVE</th>
                    <th>DENY</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var val in Model.Items)
                {
                    <tr>
                        <td>@val.GetType().Name</td>
                        <td>@val.Id</td>
                        <td>@val.Name</td>
                        <td>
                            <div class='contentPreview'>
                                <h5>Fields</h5>
                                <div>
                                    <pre class="contentPreviewFields">
                                        @foreach (var detail in val.SignificantDetails())
                                        {
                                            <div><span style="float: left;">@detail.Key</span><span style="float: right;">@detail.Value</span></div>
                                        }
                                    </pre>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div>
                                <button type="submit" name="approvalId" id="approvalId" class="removeData" value="@val.Id" title="Approve this" style="color: green;"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></button>
                                <input type="radio" name="authorizeApproval" value="@val.Id|||@val.GetType().AssemblyQualifiedName" style="margin-left: 15px;" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <button type="submit" name="denialId" id="denialId" class="removeData" value="@val.Id" title="Deny this"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                                <input type="radio" name="authorizeDenial" value="@val.Id|||@val.GetType().AssemblyQualifiedName" style="margin-left: 15px;" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>}

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $(".contentPreview").accordion({
                collapsible: true,
                active: false
            });
        });</script>
}