@using System.Linq
@using NetMud.DataStructure.Player

@model NetMud.Models.PlayerManagement.ManageAcquaintencesViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]> ("Friends and Enemies", new string[] { "Dashboard" }, new string[] { "/Manage" });
}

@Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model, "Acquaintences"))

@using (Html.BeginForm("RemoveAcquaintence", "Manage"))
{
    @Html.AntiForgeryToken()
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Account</th>
                <th scope="col">Friend?</th>
                <th scope="col">External Gossip User</th>
                <th scope="col">Notifications Subscribed To</th>
                <th>REMOVE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var val in Model.CurrentPageOfItems.OrderByDescending(obj => obj.IsFriend).ThenBy(obj => obj.PersonHandle))
            {
                <tr>
                    <td>@val.PersonHandle</td>
                    <td>@val.IsFriend.ToString()</td>
                    <td>@val.GossipSystem.ToString()</td>
                    <td>@string.Join(", ", ((AcquaintenceNotifications[])val.NotificationSubscriptions).Select(ns => ns.ToString()))</td>
                    <td>
                        <div>
                            <div>
                                <button type="submit" name="ID" id="ID" class="removeData" value="@val.PersonHandle" title="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                <input type="radio" name="authorize" id="authorize" value="@val.PersonHandle" style="margin-left: 15px;" />
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
    <section id="newAcquaintenceForm">
        @using (Html.BeginForm("AddAcquaintence", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>New Friend/Enemy</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.EditorFor(m => m.AcquaintenceName, new { columnCount = 3 })
                @Html.EditorFor(m => m.IsFriend, new { columnCount = 3 })
                @Html.EditorFor(m => m.GossipSystem, new { columnCount = 3 })
            </div>

            <h4>Notification Subscriptions</h4>
            <div class="form-group row">
                @Html.HiddenFor(m => m.Notifications)
                <div class="col-md-2">
                    <input type="text" id="addNotifications" class="notificationList" /><span class="glyphicon glyphicon-plus-sign addWord"></span>
                </div>
                <div class="col-md-10" id="NotificationsContainer" style="margin-top: 10px;">
                </div>
            </div>


            @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Add", CancelName = "Cancel", ReturnAction = "Acquaintences", ReturnController = "Manage", IncludeCancel = false })
        }
    </section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#AcquaintenceName").autocomplete({
            source: "/api/ClientDataApi/GetAccountNames",
            minLength: 3,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                return false;
            }
        });

        $('.touchWord').click(function () {
            $this = $(this);
            var word = $this.attr('data-item-value');

            var $source = $('#Notifications');
            var sourceValue = $source.val();

            $this.detatch();

            $source.val(sourceValue.replace('||' + word + '||', ''));
        });

        $('.addWord').click(function () {
            $this = $(this);
            var word = $('#addNotifications').val();

            var $source = $('#Notifications');
            var sourceValue = $source.val();

            if (word !== '' && sourceValue.indexOf('||' + word + '||') === -1) {
                $('#addNotifications').val('');
                sourceValue = sourceValue + '||' + word + '||';

                $source.val(sourceValue);

                var $newWord = $('<span class="touchWord" data-item-value="' + word + '">' + word + '</span>');

                $newWord.appendTo('#NotificationsContainer');

                $newWord.click(function () {
                    $this = $(this);
                    var word = $this.attr('data-item-value');

                    var $source = $('#Notifications');
                    var sourceValue = $source.val();

                    $this.detatch();

                    $source.val(sourceValue.replace('||' + word + '||', ''));
                });
            }
        });

        /*
        LogIn = 0,
        LogOff = 1,
        EnterGame = 2,
        LeaveGame = 3
        */

        $(".notificationList").autocomplete({
            source: ['LogIn', 'LogOff', 'EnterGame', 'LeaveGame'],
            minLength: 2,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                return false;
            }
        });
    </script>
}
