@model NetMud.Models.Admin.AddEditUIModuleViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Add UI Module", new string[] { "Dashboard", "UIModules" }, new string[] { "/Manage", "/Manage/UIModules" });
}

<section id="newConstantsForm">
    @using (Html.BeginForm("AddUIModule", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.EditorFor(m => m.Name)
            @Html.EditorFor(m => m.Height)
            @Html.EditorFor(m => m.Width)
        </div>
        <div class="form-group row">
            @Html.EditorFor(m => m.BodyHtml, new { columnCount = 1 })
        </div>
        <div class="form-group row">
            @Html.EditorFor(m => m.HelpText, new { columnCount = 1 })
        </div>

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Create", CancelName = "Cancel", ReturnAction = "UIModules", ReturnController = "Manage", IncludeCancel = true })
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}