@model NetMud.Models.PlayerManagement.ChangePasswordViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Change Password", new string[] { "Dashboard" }, new string[] { "/Manage" });
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.EditorFor(m => m.OldPassword)
    </div>
    <div class="form-group row">
        @Html.EditorFor(m => m.NewPassword)
        @Html.EditorFor(m => m.ConfirmPassword)
    </div>
    @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Manage", IncludeCancel = true })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}