@model NetMud.Models.PlayerManagement.AddEditPlaylistViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Edit Playlist", new string[] { "Dashboard", "Playlists" }, new string[] { "/Manage", "/Manage/Playlists" });
}


<section id="newNotificationForm">
    @using (Html.BeginForm("EditPlaylist", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.EditorFor(e => e.Name)
        </div>

        @Html.Partial("~/Views/Manage/Songs.cshtml", Model)

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Playlists", ReturnController = "Manage", IncludeCancel = true })
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
