@model NetMud.Models.Admin.AddEditCombosViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Edit Combo", new string[] { "Dashboard", "Combos" }, new string[] { "/Manage", "/Manage/Combos" });
}

    <section id="newCharacterForm">
        @using (Html.BeginForm("EditCombos", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.Name" />

            @Html.EditorFor(m => m.DataObject, new { ValidArts = Model.ValidArts })

            @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Combos", ReturnController = "Manage", IncludeCancel = true })

        }
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}