@model NetMud.Models.PlayerManagement.ManageAccountViewModel

@{
    Model.UITutorialMode = Model.DataObject.Config.UITutorialMode;
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Dashboard", new string[] { }, new string[] { });
}

<div class="adminDashboard">
    <div>
        <h4>Account</h4>
        <dl class="dl-horizontal dashboardItem">
            <dt>&nbsp;</dt>
            <dd>
                @Html.ActionLink("Change your password", "ChangePassword", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Change Password" })
            </dd>
        </dl>
        <dl class="dl-horizontal dashboardItem">
            <dt>&nbsp;</dt>
            <dd>
                Characters [@Html.ActionLink(Model.AuthedUser.GameAccount.Characters.Count().ToString(), "ManageCharacters", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Manage" })]
            </dd>
        </dl>
    </div>

    <div>
        <h4>Acquaintences</h4>
        <dl class="dl-horizontal dashboardItem">
            <dt>&nbsp;</dt>
            <dd>
                Inbox [@Html.ActionLink(Model.NotificationCount.ToString(), "Notifications", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Mail and Notifications" })]
            </dd>
        </dl>
        <dl class="dl-horizontal dashboardItem">
            <dt>&nbsp;</dt>
            <dd>
                Friends [@Html.ActionLink(Model.AuthedUser.GameAccount.Config.Acquaintences.Count().ToString(), "Acquaintences", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Acquaintences" })]
            </dd>
        </dl>
    </div>

    <div>
        <h4>Features</h4>
        <dl class="dl-horizontal dashboardItem">
            <dt>&nbsp;</dt>
            <dd>
                Music Playlists: [@Html.ActionLink(Model.AuthedUser.GameAccount.Config.Playlists.Count().ToString(), "Playlists", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Music Playlists" })]
            </dd>
        </dl>
        <dl class="dl-horizontal dashboardItem">
            <dt>&nbsp;</dt>
            <dd>
                Fighting Combos: [@Html.ActionLink(Model.ComboCount.ToString(), "Combos", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "UI Modules" })]
            </dd>
        </dl>
    </div>
</div>

<h3>Account Config</h3>
<section id="accountConfig">
    @using (Html.BeginForm("EditAccountConfig", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.EditorFor(m => m.UITutorialMode)
            @Html.EditorFor(m => m.GossipSubscriber)
            @Html.EditorFor(m => m.PermanentlyMuteMusic)
            @Html.EditorFor(m => m.PermanentlyMuteSound)
        </div>

        if (User.IsInRole("Admin"))
        {
            @Html.Partial("~/Views/Manage/LogSubscriptions.cshtml", Model)
        }

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", ReturnAction = "Index", ReturnController = "Manage", IncludeCancel = false })
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}