@model NetMud.Models.PlayerManagement.SetPasswordViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <h4>Create Local Login</h4>
    <div class="form-group row">
        @Html.EditorFor(m => m.NewPassword)
        @Html.EditorFor(m => m.ConfirmPassword)
    </div>

    @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Manage", IncludeCancel = true })
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}