@model NetMud.Models.Admin.ManageUIModulesViewModel
@{
    var linkText = Html.ActionLink("99999999", "EditUIModule", new { id = 99999999 }).ToString();
    var tableColumns = new Dictionary<string, Func<dynamic, string>>();
    tableColumns.Add("Id", obj => linkText.Replace("99999999", obj.Id.ToString()));
    tableColumns.Add("Name", obj => obj.FitnessProblems ? string.Format("<span style='color:red;' title='{0}'>{1}</span>", String.Join(", ", obj.FitnessReport()), obj.Name) : obj.Name);
    tableColumns.Add("Model", obj => String.Format("<div class='dimensionalModel'><h5>Preview</h5><div><pre id='modelContainer' class='modulePreview' data-id='{0}'>{1}</pre></div></div>"
                                , obj.Id, Html.Raw(obj.BodyHtml)));
    tableColumns.Add("State", obj => obj.State.ToString());
}

<div>
    @Html.ActionLink("Add New", "AddUIModule", null, new { @class = "addNew" })
</div>

@if (Model.Items.Count() > 0)
{
    @Html.Partial("SearchCriteriaAndPaging", new Tuple<NetMud.Models.IPagedDataModel, string>(Model, "UIModules"))

    using (Html.BeginForm("RemoveUIModule", "Manage"))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("ListTable", new NetMud.Models.ListTableViewModel() { Name = "UIModules", Columns = tableColumns, Values = Model.CurrentPageOfItems.OrderBy(obj => obj.Id) })
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">$(function () {
            $(".dimensionalModel").accordion({
                collapsible: true,
                active: false
            });
        });</script>
}