@model NetMud.Models.Admin.AddEditCelestialViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Edit Celestial Body", new string[] { "Dashboard", "Celestial Bodies" }, new string[] { "/GameAdmin", "/Celestials" });
}

<section id="newCelestialForm">
    @using (Html.BeginForm("Edit", "Celestials", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />

        @Html.EditorFor(m => m.DataObject, new { ValidModels = Model.ValidModels, ValidMaterials = Model.ValidMaterials })

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Celestials", IncludeCancel = true })
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}