@model NetMud.Models.GameAdmin.AddEditRoomDataViewModel
@{
    ViewBag.Title = "Add New Room";

    var materialsDropdown = Html.DropDownList("BorderMaterials", Model.ValidMaterials.Select(rl => new SelectListItem()
    {
        Text = rl.Name,
        Value = rl.ID.ToString()
    }), htmlAttributes: new { id = "BorderMaterials", Style = "padding: 7px; float:left; margin-top: 10px;" }).ToString().Replace(Environment.NewLine, "");
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    <section id="newRoomForm">
        @using (Html.BeginForm("AddRoomData", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.NewName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.NewName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewName, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.Partial("DimensionalEntityEditor", Model)
            <div class="form-group">
                @Html.LabelFor(m => m.Medium, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("Medium", Model.ValidMaterials.Select(rl =>
                        new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString() })
                        , htmlAttributes: new { id = "Medium", Style = "padding: 7px; float:left; margin-top: 10px;" })                    
                    @Html.ValidationMessageFor(m => m.Medium, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div style="display: block; padding-bottom: 10px;">
                    @Html.LabelFor(m => m.Compositions, new { @class = "col-md-2 control-label" })
                    <a href="#" id="addBorderRow" style="padding: 10px;">Add another...</a>
                </div>
                <div id="borderRows" style="display: block;">
                    <div class="col-md-10" style="padding-left: 10px;">
                        <span style="padding: 10px; float:left;">Border:</span>@Html.TextBoxFor(m => m.BorderNames, new { @style = " float:left; margin-top: 10px;" })
                        <span style="padding: 10px; float:left;">Material: </span>@Html.DropDownList("BorderMaterials", Model.ValidMaterials.Select(rl =>
                                                                                    new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString() })
                                                                                    , htmlAttributes: new { id = "BorderMaterials", Style = "padding: 7px; float:left; margin-top: 10px;" })
                        <a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/HtmlUtilities.js")

    <script type="text/javascript">
        var materialsDropdown = decodeHtml('@materialsDropdown');

        $(document).ready(function () {
            $("#addBorderRow").click(function () {
                $("#borderRows").append(
                    '<div class="col-md-10" style="padding-left: 10px;"><span style="padding: 10px; float:left;">Border:</span><input id="BorderNames" name="BorderNames" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Material: </span>' + materialsDropdown + '<a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
        });
    </script>
}