@model NetMud.Models.GameAdmin.AddEditRoomDataViewModel
@{
    ViewBag.Title = "Edit Room";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    <section id="editRoomForm">
        @using (Html.BeginForm("EditRoomData", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.ID" />
            <div class="form-group">
                @Html.LabelFor(m => m.NewName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.NewName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Commit" class="btn btn-default" style="color: green; border-color: cadetblue;" />
                    @Html.ActionLink("Cancel", "ManageRoomData", "GameAdmin", new { @class = "btn btn-default", @style = "color: orange; border-color: red;" })
                </div>
            </div>
        }
    </section>
    <section id="exitsForm">
        @using (Html.BeginForm("AddEditPathway", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            <div>
                <pre id="modelContainer" style="font-family: Courier New, Courier, monospace; width: 200px; text-align: center;" data-id="@Model.DataObject.ID">
                </pre>
            </div>
            <div>
                <div class="form-group">
                    <label id="pathwayNameLabel" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="text" id="pathwayName" name="pathwayName" class="form-control" />
                    </div>
                </div>

                <!--
                    [PassingWidth]				BIGINT			DEFAULT((-1)) NOT NULL,
                    [PassingHeight]				BIGINT			DEFAULT((-1)) NOT NULL,
                    [DegreesFromNorth]			INT				DEFAULT((0)) NOT NULL,
                    [ToLocationID]				VARCHAR (MAX)	NOT NULL,
                    [ToLocationType]			VARCHAR (MAX)	NOT NULL,
                    [FromLocationID]			VARCHAR (MAX)	NOT NULL,
                    [FromLocationType]			VARCHAR (MAX)	NOT NULL,
                    [MessageToActor]			VARCHAR (MAX)	NOT NULL,
                    [MessageToOrigin]			VARCHAR (MAX)	NOT NULL,
                    [MessageToDestination]		VARCHAR (MAX)	NOT NULL,
                    [AudibleToSurroundings]		VARCHAR (MAX)	NOT NULL,
                    [VisibleToSurroundings]		VARCHAR (MAX)	NOT NULL,
                    [AudibleStrength]			INT				DEFAULT((3)) NOT NULL,
                    [VisibleStrength]			INT				DEFAULT((1)) NOT NULL,
                    [DimensionalModelLength]	INT				NOT NULL DEFAULT (-1),
                    [DimensionalModelHeight]	INT				NOT NULL DEFAULT (-1),
                    [DimensionalModelWidth]		INT				NOT NULL DEFAULT (-1),
                    [DimensionalModelMaterialCompositions]		VARCHAR (MAX)	DEFAULT ('{}') NOT NULL,
                    [DimensionalModelID]		BIGINT			NOT NULL
                -->
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Commit" class="btn btn-default" style="color: green; border-color: cadetblue;" />
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            var $modelContainer = $("#modelContainer");
            var dataId = $modelContainer.attr("data-id");

            $.get("/api/ClientDataApi/RenderRoomForEdit/" + dataId + '/0', function (data) {
                $modelContainer.html(data);
            });
        });
    </script>
}