@model NetMud.Models.GameAdmin.DashboardViewModel
@{
    ViewBag.Title = "Administrative Dashboard";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Backing Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Rooms:</dt>
        <dd>
            @Model.Rooms.Count().ToString() [
            @Html.ActionLink("Manage", "ManageRoomData") 
            @Html.ActionLink("Add", "AddRoomData") ]
        </dd>
        <dt>NPCs:</dt>
        <dd>
            @Model.NPCs.Count().ToString() [
            @Html.ActionLink("Manage", "ManageNPCData") 
            @Html.ActionLink("Add", "AddNPCData") ]
        </dd>
        <dt>Inanimates:</dt>
        <dd>
            @Model.Inanimates.Count().ToString() [
            @Html.ActionLink("Manage", "ManageInanimateData") 
            @Html.ActionLink("Add", "AddInanimateData") ]
        </dd>
    </dl>
    <h4>Live Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Players:</dt>
        <dd>
            @Model.LivePlayers [
            @Html.ActionLink("Live Players", "ManagePlayers") ]
        </dd>
    </dl>
    <h4>World State</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Do stuff</dt>
        <dd>
            @Html.ActionLink("Backup World", "BackupWorld", "GameAdminController", new { @class = "btn btn-default", @style = "color: green; border-color: green;" })
            @Html.ActionLink("Suspend and Restore World", "RestoreWorld", "GameAdminController", new { @class = "btn btn-default", @style = "color: red; background-color: black; border-color: red;" })
        </dd>
    </dl>
</div>
