@using NetMud.DataStructure.Administrative

@model NetMud.Models.Admin.DashboardViewModel

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Templates</a></li>
        <li><a href="#tabs-2">Live Data</a></li>
        <li><a href="#tabs-3">Gossip</a></li>
        <li><a href="#tabs-4">Processes</a></li>
        <li><a href="#tabs-5">Global Configuration</a></li>
    </ul>
    <div id="tabs-1" data-tabNumber="1">
        <div class="adminDashboard">
            <div>
                <h4>Templates</h4>
                <dl class="dl-horizontal">
                    <dt>Worlds:</dt>
                    <dd>
                        @Model.Worlds.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Gaia")
                        @Html.ActionLink("Add", "Add", "Gaia") ]
                        @if (Model.Worlds.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Worlds.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Zones:</dt>
                    <dd>
                        @Model.Zones.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Zone")
                        @Html.ActionLink("Add", "Add", "Zone") ]
                        @if (Model.Zones.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Zones.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Locales:</dt>
                    <dd>
                        @Model.Locales.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Locale")
                        @Html.ActionLink("Add", "Add", "Locale") ]
                        @if (Model.Locales.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Locales.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Rooms:</dt>
                    <dd>
                        @Model.Rooms.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Room")
                        @Html.ActionLink("Add", "Add", "Room") ]
                        @if (Model.Rooms.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Rooms.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>NPCs:</dt>
                    <dd>
                        @Model.NPCs.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "NPC")
                        @Html.ActionLink("Add", "Add", "NPC") ]
                        @if (Model.NPCs.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.NPCs.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Items:</dt>
                    <dd>
                        @Model.Inanimates.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Inanimate")
                        @Html.ActionLink("Add", "Add", "Inanimate") ]
                        @if (Model.Inanimates.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Inanimates.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                </dl>
            </div>
            <div>
                <h4>Lookup Data</h4>
                <dl class="dl-horizontal">
                    <dt>Journal Entries:</dt>
                    <dd>
                        @Model.Journals.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "JournalEntry")
                        @Html.ActionLink("Add", "Add", "JournalEntry") ]
                        @if (Model.Journals.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Journals.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Help Files:</dt>
                    <dd>
                        @Model.HelpFiles.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Help")
                        @Html.ActionLink("Add", "Add", "Help") ]
                        @if (Model.HelpFiles.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.HelpFiles.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Races:</dt>
                    <dd>
                        @Model.Races.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Race")
                        @Html.ActionLink("Add", "Add", "Race") ]
                        @if (Model.Races.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Races.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Celestial Bodies:</dt>
                    <dd>
                        @Model.Celestials.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Celestials")
                        @Html.ActionLink("Add", "Add", "Celestials") ]
                        @if (Model.Celestials.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Celestials.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Materials:</dt>
                    <dd>
                        @Model.Materials.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Material")
                        @Html.ActionLink("Add", "Add", "Material") ]
                        @if (Model.Materials.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Materials.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Dimensional Models:</dt>
                    <dd>
                        @Model.DimensionalModels.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "DimensionalModel")
                        @Html.ActionLink("Add", "Add", "DimensionalModel") ]
                        @if (Model.DimensionalModels.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.DimensionalModels.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Flora:</dt>
                    <dd>
                        @Model.Flora.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Flora")
                        @Html.ActionLink("Add", "Add", "Flora") ]
                        @if (Model.Flora.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Flora.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Fauna:</dt>
                    <dd>
                        @Model.Fauna.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Fauna")
                        @Html.ActionLink("Add", "Add", "Fauna") ]
                        @if (Model.Fauna.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Fauna.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Minerals:</dt>
                    <dd>
                        @Model.Minerals.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Minerals")
                        @Html.ActionLink("Add", "Add", "Minerals") ]
                        @if (Model.Minerals.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Minerals.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Languages:</dt>
                    <dd>
                        @Model.Languages.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Language")
                        @Html.ActionLink("Add", "Add", "Language") ]
                        @if (Model.Languages.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                    <dt>Dictata (words):</dt>
                    <dd>
                        @Model.DictionaryWords.Count().ToString() [
                        @Html.ActionLink("Manage", "Index", "Dictionary")
                        @Html.ActionLink("Add", "Add", "Dictionary") ]
                        @if (Model.DictionaryWords.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="tabs-2" data-tabNumber="2">
        <div class="adminDashboard">
            <h4>Live Data</h4>
            <dl class="dl-horizontal">
                <dt>Players:</dt>
                <dd>
                    @Model.LivePlayers [ @Html.ActionLink("Manage", "Index", "Player") ]
                </dd>
                <dt>Worlds:</dt>
                <dd>
                    @Model.LiveWorlds [ @Html.ActionLink("Manage", "Worlds", "LiveAdmin")  ]
                </dd>
                <dt>Zones:</dt>
                <dd>
                    @Model.LiveZones [ @Html.ActionLink("Manage", "Zones", "LiveAdmin") ]
                </dd>
                <dt>Locales:</dt>
                <dd>
                    @Model.LiveLocales [ @Html.ActionLink("Manage", "Locales", "LiveAdmin") ]
                </dd>
                <dt>Rooms:</dt>
                <dd>
                    @Model.LiveRooms [ @Html.ActionLink("Manage", "Rooms", "LiveAdmin") ]
                </dd>
                <dt>Inanimates:</dt>
                <dd>
                    @Model.LiveInanimates [ @Html.ActionLink("Manage", "Inanimates", "LiveAdmin") ]
                </dd>
                <dt>NPCs:</dt>
                <dd>
                    @Model.LiveNPCs [ @Html.ActionLink("Manage", "NPCs", "LiveAdmin") ]
                </dd>
            </dl>
        </div>
    </div>
    <div id="tabs-3" data-tabNumber="3">
        <div>
            @Html.ActionLink("Restart Gossip Server", "RestartGossipServer", "GameAdmin", new { @class = "btn btn-default caution" })
        </div>
        <h4>Settings</h4>
        <section id="gossipConfig">
            @using (Html.BeginForm("GossipConfig", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.EditorFor(m => m.ClientName)
                @Html.EditorFor(m => m.ClientSecret)
                @Html.EditorFor(m => m.ClientId)
            </div>
                <div class="form-group row">
                    @Html.EditorFor(m => m.GossipActive)
                    @Html.EditorFor(m => m.SuspendMultiplier)
                    @Html.EditorFor(m => m.SuspendMultiplierMaximum)
                </div>

                <h4>Supported Features</h4>
                @Html.EditorFor(m => m.SupportedFeatures, new { tagList = Model.GossipConfigDataObject.SupportedFeatures.ToArray() })

                <h4>Supported Channels</h4>
                @Html.EditorFor(m => m.SupportedChannels, new { tagList = Model.GossipConfigDataObject.SupportedChannels.ToArray() })


                @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "GameAdmin", IncludeCancel = false })
            }
        </section>
    </div>
    <div id="tabs-4" data-tabNumber="4">
        <div>
            <h4>World State</h4>
            <dl class="dl-horizontal">
                <dt>Data Systems</dt>
                <dd>
                    @Html.ActionLink("Backup World", "BackupWorld", "GameAdmin", new { @class = "btn btn-default save" })
                    @Html.ActionLink("Suspend and Restore World", "RestoreWorld", "GameAdmin", new { @class = "btn btn-default caution" })
                </dd>
            </dl>
        </div>
        <div>
            <h4>Live Processes</h4>
            <div>
                <div>
                    @Html.ActionLink("Stop All", "StopAllRunningProcess", "GameAdmin", new { @class = "btn btn-default caution" })
                </div>
                <div style="display: inline-flex; flex-wrap: wrap;">
                    @foreach (var token in Model.LiveTaskTokens)
                    {
                        <div style="padding: 15px; width: 25%;">
                            @if (token.Value.IsCancellationRequested)
                            {
                                <span style="color:red;">Stopping @token.Key</span>
                            }
                            else
                            {
                                <span style="color:green;">Running</span>
                                @Html.ActionLink("Stop " + @token.Key, "StopRunningProcess", "GameAdmin", new { processName = token.Key }, new { @class = "btn btn-default stop" })
                            }
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-5" data-tabNumber="5">
        <h4>Settings</h4>
        <section id="globalConfig">
            @using (Html.BeginForm("GlobalConfig", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.EditorFor(m => m.WebsocketPortalActive)
                    @Html.EditorFor(m => m.UserCreationActive)
                    @Html.EditorFor(m => m.AdminsOnly)
                </div>
                <h4>Death Recall Settings</h4>
                <div class="form-group row">
                    @Html.EditorFor(m => m.DeathRecallZone, new { validItems = Model.ValidZones })
                    @Html.EditorFor(m => m.DeathRecallCoordinateX)
                    @Html.EditorFor(m => m.DeathRecallCoordinateY)
                </div>
                <h4>Death Notice Settings</h4>
                <div class="form-group row">
                    @Html.EditorFor(m => m.DeathNoticeFrom)
                    @Html.EditorFor(m => m.DeathNoticeSubject)
                </div>
                <div class="form-group row">
                    @Html.EditorFor(m => m.DeathNoticeBody)
                </div>

                @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "GameAdmin", IncludeCancel = false })
            }
        </section>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>
