@using NetMud.DataStructure.Administrative
@model NetMud.Models.Admin.DashboardViewModel
@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Admin Dashboard", new string[] { }, new string[] { });
}
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Templates</a></li>
        <li><a href="#tabs-2">Live Data</a></li>
        <li><a href="#tabs-3">Gossip</a></li>
        <li><a href="#tabs-4">Processes</a></li>
        <li><a href="#tabs-5">Data Archives</a></li>
        <li><a href="#tabs-6">Global Configuration</a></li>
    </ul>
    <div id="tabs-1" data-tabNumber="1">
        <div class="adminDashboard">
            <div>
                <h4>Templates</h4>
                <dl class="dl-horizontal dashboardItem">
                    <dt>Game Types [@Html.ActionLink(Model.GameTemplates.Count().ToString(), "Index", "GameTemplate", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Manage" })]</dt>
                    <dd>
                        @Html.ActionLink(" ", "Add", "GameTemplate", null, htmlAttributes: new { @class = "glyphicon-plus-sign glyphicon", @style = "color: green;", @title = "Add New" })
                        @if (Model.GameTemplates.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.GameTemplates.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                </dl>
            </div>
            <div>
                <h4>Administrative</h4>
                <dl class="dl-horizontal dashboardItem">
                    <dt>Journal Entries [@Html.ActionLink(Model.Journals.Count().ToString(), "Index", "JournalEntry", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Manage" })]</dt>
                    <dd>
                        @Html.ActionLink(" ", "Add", "JournalEntry", null, htmlAttributes: new { @class = "glyphicon-plus-sign glyphicon", @style = "color: green;", @title = "Add New" })
                        @if (Model.Journals.Any(r => r.FitnessProblems))
                        {
                            <span style="color:red;" class="glyphicon-exclamation-sign glyphicon" title="DATA PROBLEMS"></span>
                        }
                        @if (Model.Journals.Any(r => r.State != ApprovalState.Approved))
                        {
                            <span style="color:orange;" class="glyphicon-exclamation-sign glyphicon" title="UNAPPROVED CONTENT"></span>
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="tabs-2" data-tabNumber="2">
        <div class="adminDashboard">
            <h4>Live Data</h4>
            <dl class="dl-horizontal">
                <dt>Players:</dt>
                <dd>
                    @Model.LivePlayers [ @Html.ActionLink("Manage", "Index", "Player", null, htmlAttributes: new { @style = "color: midnightblue;", @title = "Manage" }) ]
                </dd>
            </dl>
        </div>
    </div>
    <div id="tabs-3" data-tabNumber="3">
        <div>
            @Html.ActionLink("Restart Gossip Server", "RestartGossipServer", "GameAdmin", new { @class = "btn btn-default caution" })
        </div>
        <h4>Settings</h4>
        <section id="gossipConfig">
            @using (Html.BeginForm("GossipConfig", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.EditorFor(m => m.ClientName)
                    @Html.EditorFor(m => m.ClientSecret)
                    @Html.EditorFor(m => m.ClientId)
                </div>
                <div class="form-group row">
                    @Html.EditorFor(m => m.GossipActive)
                    @Html.EditorFor(m => m.SuspendMultiplier)
                    @Html.EditorFor(m => m.SuspendMultiplierMaximum)
                </div>

                <h4>Supported Features</h4>
                @Html.EditorFor(m => m.SupportedFeatures, new { tagList = Model.GossipConfigDataObject.SupportedFeatures.ToArray() })

                <h4>Supported Channels</h4>
                @Html.EditorFor(m => m.SupportedChannels, new { tagList = Model.GossipConfigDataObject.SupportedChannels.ToArray() })


                @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "GameAdmin", IncludeCancel = false })
            }
        </section>
    </div>
    <div id="tabs-4" data-tabNumber="4">
        <div>
            @Html.ActionLink("Stop All", "StopAllRunningProcess", "GameAdmin", new { @class = "btn btn-default caution" })
            @Html.ActionLink("Suspend and Restore World", "RestoreWorld", "GameAdmin", new { @class = "btn btn-default caution" })
        </div>
        <h4>Live Processes</h4>
        <div class="liveProcess">
            @foreach (var token in Model.LiveTaskTokens)
            {
                if (token.Value.IsCancellationRequested)
                {
                    <div class="liveControls stop">
                        <span>Stopping @token.Key</span>
                    </div>
                }
                else
                {
                    <div class="liveControls go">
                        @Html.ActionLink("Stop " + @token.Key, "StopRunningProcess", "GameAdmin", new { processName = token.Key }, new { @class = "btn btn-default stop" })
                    </div>
                }
            }
        </div>
    </div>
    <div id="tabs-5" data-tabNumber="5">
        <h4>Archive</h4>
        @using (Html.BeginForm("BackupWorld", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group row">
                @Html.EditorFor(m => m.BackupName)
            </div>
            @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Backup World", ReturnAction = "Index", ReturnController = "GameAdmin", IncludeCancel = false })
        }
    </div>
    <div id="tabs-6" data-tabNumber="6">
        <h4>Settings</h4>
        <section id="globalConfig">
            @using (Html.BeginForm("GlobalConfig", "GameAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">
                    @Html.EditorFor(m => m.UserCreationActive)
                    @Html.EditorFor(m => m.AdminsOnly)
                </div>

                @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "GameAdmin", IncludeCancel = false })
            }
        </section>
    </div>
</div>
