@using NetMud.DataStructure.Base.Supporting
@using NetMud.Utility

@model NetMud.Models.Admin.AddEditDimensionalModelDataViewModel

@{
    <div>
        @Html.LabelFor(m => m.ModelPlaneNames)
        @Html.TextBoxFor(m => m.ModelPlaneNames)
    </div>
    <div>
        @Html.LabelFor(m => m.CoordinateDamageTypes)
        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem()
                {
                    Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(),
                    Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString()
                   ,
                    Selected = rl.Equals(Enum.GetName(typeof(DamageType), Model.NewBreathes))
                })
                                      , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode edge" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode exterior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode exterior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode interior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                                      , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode interior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                                      , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode center" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode interior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode interior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode exterior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode exterior" })

        @Html.DropDownList("CoordinateDamageTypes", Enum.GetNames(typeof(DamageType)).Select(rl =>
                new SelectListItem() { Text = ((DamageType)Enum.Parse(typeof(DamageType), rl)).GetDescription(), Value = ((short)Enum.Parse(typeof(DamageType), rl)).ToString() })
                             , htmlAttributes: new { id = "CoordinateDamageTypes", @class = "dimModelNode edge" })
    </div>
}

<script>
    $(document).ready(function () {
        $('select.dimModelNode').each(function () {
            $(this).attr('data-value', $(this).children(':selected').val());
        }).on('change', function (ev) {
            $(this).attr('data-value', $(this).children(':selected').val());
        });
    });
</script>