@using NetMud.DataStructure.Administrative
@model NetMud.Models.Admin.ManagePlayersViewModel
@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Players", new string[] { "Dashboard" }, new string[] { "/GameAdmin" });
    Model.ModelEntityType = "Player";
}
<div class="searchCriteria">
    @Html.Partial("SearchCriteriaAndPaging", Model)
</div>

@using (Html.BeginForm("Remove", "Player"))
{
    @Html.AntiForgeryToken()
    <h4>Approvals</h4>
    <div class="listTable">
        <div class="listSection listHeader">
            <div class="listItem" scope="col">Id</div>
            <div class="listItem" scope="col">Global Handle</div>
            <div class="listItem" scope="col">Email</div>
            <div class="listItem" scope="col">Role</div>
            <div class="listItem">DELETE</div>
        </div>
        <div class="listSection listContent">
            @foreach (var val in Model.Items)
            {
                <div class="listRow">
                    <div class="listItem">@val.Id.ToString()</div>
                    <div class="listItem">@val.GameAccount.GlobalIdentityHandle</div>
                    <div class="listItem">@val.Email</div>
                    <div class="listItem">
                        @Html.DropDownList("Role", Enum.GetNames(typeof(StaffRank)).Select(rl =>
                                                                        new SelectListItem() { Text = rl, Value = ((short)Enum.Parse(typeof(StaffRank), rl)).ToString(),
                                                                            Selected = ((NetMud.Authentication.ApplicationUser)val).Roles.Select(rol => Model.ValidRoles.First(vR => vR.Id.Equals(rol.RoleId)).Name).Contains(rl) })
                                                                        , "Select One", htmlAttributes: new { id = "Role", @class = "staffRole" })
                    </div>
                    <div class="listItem">
                        <button type="submit" name="removeId" id="removeId" class="removeData" value="@val.GlobalIdentityHandle" title="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <input type="radio" name="authorizeRemove" value="@val.GlobalIdentityHandle" />
                    </div>
                </div>
            }
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">$(document).ready(function () {
            $('.staffRole').change(function () {
                var $this = $(this);

                var role = $this.val();
                var accountName = $this.parent().prev()[0].innerHTML;

                $.post('/api/AdminDataApi/ChangeAccountRole/' + accountName + '/' + role, function (data) {
                    window.location = window.location;
                });
            });
        });</script>
}
