@model NetMud.Models.Admin.AddEditNPCDataViewModel
@{
    ViewBag.Title = "Edit Non-player Character";

    <section id="newNPCForm">
        @using (Html.BeginForm("Edit", "NPC", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.ID" />
            <div class="form-group two-column">
                @Html.EditorFor(e => e.Name)
                @Html.EditorFor(e => e.SurName)
            </div>
            <div class="form-group two-column">
                @Html.EditorFor(e => e.Gender)
                @Html.LabelFor(m => m.RaceId, new { @class = "control-label" })
                <div>
                    @Html.DropDownList("RaceId", Model.ValidRaces.Select(rl =>
                                                    new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString(), Selected = rl.ID.Equals(Model.RaceId) })
                                                     , htmlAttributes: new { id = "raceId", @class="form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Commit" class="btn btn-default save" />
                    @Html.ActionLink("Cancel", "Index", "NPC", new { @class = "btn btn-default cancel" })
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}