@model NetMud.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.EditorFor(m => m.Email)
    </div>
    @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Send Link", CancelName = "Cancel", ReturnAction = "Login", ReturnController = "Account", IncludeCancel = false })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
