@model NetMud.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.EditorFor(e => e.Email)
    </div>
    @Html.Partial("SubmitButton", "Send Link")

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
