@model NetMud.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group two-column">
        @Html.EditorFor(e => e.GlobalUserHandle)
        @Html.EditorFor(e => e.Email)
    </div>
    <div class="form-group two-column">
        @Html.EditorFor(e => e.Password)
        @Html.EditorFor(e => e.ConfirmPassword)
    </div>
    @Html.Partial("SubmitButton", "Register")

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
