@model NetMud.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
}

@using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("provider", @Model.Provider)
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>Enter verification code</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.EditorFor(e => e.Code)
        @Html.EditorFor(e => e.RememberBrowser)
    </div>
    @Html.Partial("SubmitButton", "Verify")

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
