@model NetMud.Models.Admin.AddEditRoomDataViewModel
@{
    ViewBag.Title = "Add New Room";

    <section id="newRoomForm">
        @using (Html.BeginForm("Add", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group two-column">
                @Html.EditorFor(e => e.Name)
                @Html.LabelFor(m => m.Zone, new { @class = "control-label" })
                <div>
                    @Html.DropDownList("Zone", Model.ValidZones.Select(rl =>
                                            new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString() })
                                             , htmlAttributes: new { id = "Zone", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Zone, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.Partial("DimensionalEntityEditor", Model)
            <div class="form-group one-column">
                @Html.LabelFor(m => m.Medium, new { @class = "control-label" })
                <div>
                    @Html.DropDownList("Medium", Model.ValidMaterials.Select(rl =>
                        new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString() })
                        , htmlAttributes: new { id = "Medium", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Medium, "", new { @class = "text-danger" })
                </div>
            </div>
            
            @Html.Partial("SubmitButton", "Create")
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}