@model NetMud.Models.Admin.AddEditRoomDataViewModel
@{
    ViewBag.Title = "Add New Room";

    <section id="newRoomForm">
        @using (Html.BeginForm("Add", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                <label for="Locale">Locale</label>
                <input type="text" id="Locale" name="Locale" disabled="disabled" title="Locale" value="@Model.Locale.Name" />
                @Html.EditorFor(e => e.Name)
            </div>
            @Html.Partial("DimensionalEntityEditor", Model)
            <div class="form-group row">
                @Html.LabelFor(m => m.Medium, new { @class = "col-sm-2 col-form-label" })
                <div>
                    @Html.DropDownList("Medium", Model.ValidMaterials.Select(rl =>
                        new SelectListItem() { Text = rl.Name, Value = rl.Id.ToString() })
                        , htmlAttributes: new { id = "Medium", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Medium, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.Partial("SubmitButton", "Create")
        }
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}