@model NetMud.Models.Admin.AddEditRoomDataViewModel
@{
    ViewBag.Title = "Edit Room";

    var materialsDropdown = Html.DropDownList("BorderMaterials", Model.ValidMaterials.Select(rl => new SelectListItem()
    {
        Text = rl.Name,
        Value = rl.ID.ToString()
    }), htmlAttributes: new { id = "BorderMaterials", Style = "padding: 7px; float:left; margin-top: 10px;" }).ToString().Replace(Environment.NewLine, "");
}

@{
    <section id="editRoomForm">
        @using (Html.BeginForm("Edit", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.ID" />
            @Html.EditorFor(e => e.NewName)
            <div class="form-group">
                @Html.LabelFor(m => m.Zone, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownList("Zone", Model.ValidZones.Select(rl =>
                                    new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString(), Selected = rl.ID.Equals(Model.DataObject.ZoneAffiliation.ID) })
                                        , htmlAttributes: new { id = "Zone", Style = "padding: 7px; float:left; margin-top: 10px;" })
                            @Html.ValidationMessageFor(m => m.Zone, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.Partial("DimensionalEntityEditor", Model)
            <div class="form-group">
                @Html.LabelFor(m => m.Medium, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownList("Medium", Model.ValidMaterials.Select(rl =>
                             new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString(), Selected = rl.ID.Equals(Model.DataObject.Medium.ID) })
                                , htmlAttributes: new { id = "Medium", Style = "padding: 7px; float:left; margin-top: 10px;" })
                    @Html.ValidationMessageFor(m => m.Medium, "", new { @class = "text-danger" })
                </div>
            </div>
            <br class="clearfix" />
            <div class="form-group">
                <div style="display: block; padding-bottom: 10px;">
                    @Html.LabelFor(m => m.BorderMaterials, new { @class = "col-md-3 control-label" })
                    <a href="#" id="addBordersRow" style="padding: 10px;">Add another...</a>
                </div>
                <div id="borderRows" style="display: block;">
                    @foreach (var border in Model.DataObject.Borders)
                    {
                        <div class="col-md-9" style="padding-left: 10px;">
                            <span style="padding: 10px; float:left;">Border:</span><input id="BorderNames" name="BorderNames" type="text" style="float:left; margin-top: 10px;" value="@border.Key">
                            <span style="padding: 10px; float:left;">Material: </span>>@Html.DropDownList("BorderMaterials", Model.ValidMaterials.Select(rl =>
                                                                                            new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString(), Selected = rl.ID.Equals(border.Value.ID) })
                                                                                            , htmlAttributes: new { id = "BorderMaterials", Style = "padding: 7px; float:left; margin-top: 10px;" })
                            <a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Commit" class="btn btn-default" style="color: green; border-color: cadetblue;" />
                    @Html.ActionLink("Cancel", "Index", "Room", new { @class = "btn btn-default", @style = "color: orange; border-color: red;" })
                </div>
            </div>
        }
    </section>
    <div>
        <pre id="modelContainer" class="asciiMap" data-id="@Model.DataObject.ID"></pre>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            var $modelContainer = $("#modelContainer");
            var dataId = $modelContainer.attr("data-id");
            var materialsDropdown = decodeHtml('@materialsDropdown');

            $.get("/api/ClientDataApi/RenderRoomForEditWithRadius/" + dataId + '/1', function (data) {
                $modelContainer.html(data);
            });

            $(".dimensionalModel").accordion({
                collapsible: true,
                active: false
            });

            $(document).ready(function () {
                $("#addBorderRow").click(function () {
                    $("#borderRows").append(
                        '<div class="col-md-9" style="padding-left: 10px;"><span style="padding: 10px; float:left;">Border:</span><input id="BorderNames" name="BorderNames" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Material: </span>' + materialsDropdown + '<a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                    );

                    $(".removeRow").click(function () {
                        $(this).parent().remove();
                        return false;
                    });
                    return false;
                });

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });

        });
    </script>
}