@model NetMud.Models.Admin.AddEditRoomTemplateViewModel

<section id="editRoomForm">
    @using (Html.BeginForm("Edit", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />

        @Html.EditorFor(m => m.DataObject, new { ValidMaterials = Model.ValidMaterials, ValidZones = Model.ValidZones })

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ModalWindow = true })
    }
</section>

@Html.Partial("~/Views/GameAdmin/Room/SensoryEventList.cshtml", Model.DataObject)

<div id="zonePathway">
    @Html.Partial("~/Views/GameAdmin/Pathway/OccurrenceList.cshtml", Model.ZonePathway)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            //Changing the destination ID really messes up the pathway stuff.
            $("#ZoneDestinationId").change(function () {
                $('#zonePathway').html('The Destination zone has changed. Please save changes and the descriptives list will be available on a subsequent edit.');
            });
        });
    </script>
}