@model NetMud.Models.Admin.AddEditRoomTemplateViewModel

<section id="editRoomForm">
    @using (Html.BeginForm("Edit", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />

        @Html.EditorFor(m => m.DataObject, new { ValidMaterials = Model.ValidMaterials, ValidZones = Model.ValidZones, ValidModels = Model.ValidModels })

        <h3>Pathway to Zone</h3>
        @Html.EditorFor(m => m.ZonePathway, new { ValidMaterials = Model.ValidMaterials, ValidZones = Model.ValidZones, ValidModels = Model.ValidModels })

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ModalWindow = true })
    }
</section>

@Html.Partial("~/Views/GameAdmin/Room/SensoryEventList.cshtml", Model.DataObject)

<div id="zonePathway">
    @Html.Partial("~/Views/GameAdmin/Pathway/OccurrenceList.cshtml", Model.ZonePathway)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}