@model NetMud.Models.Admin.AddEditInanimateDataViewModel
@{
    ViewBag.Title = "Add New Inanimate";

    var compositionDropdown = Html.DropDownList("InternalCompositionIds", Model.ValidInanimateDatas.Select(rl => new SelectListItem()
    {
        Text = rl.Name,
        Value = rl.ID.ToString()
    }), htmlAttributes: new { id = "InternalCompositionIds", Style = "padding: 7px; float:left; margin-top: 10px;" }).ToString().Replace(Environment.NewLine, "");
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    <section id="newCharacterForm">
        @using (Html.BeginForm("Add", "Inanimate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.EditorFor(e => e.NewName)

            <div class="form-group">
                <div style="display: block; padding-bottom: 10px;">
                    @Html.LabelFor(m => m.InanimateContainerNames, new { @class = "col-md-3 control-label" })
                    <a href="#" id="addInanimateContainerRow" style="padding: 10px;">Add another...</a>
                </div>
                <div id="inanimateContainerRows" style="display: block;">
                    <div class="col-md-9" style="padding-left: 10px;">
                        <span style="padding: 10px; float:left;">Name: </span>@Html.TextBoxFor(m => m.InanimateContainerNames, new { @style = " float:left; margin-top: 10px;" })
                        <span style="padding: 10px; float:left;">Weight:</span>@Html.TextBoxFor(m => m.InanimateContainerWeights, new { @style = " float:left; margin-top: 10px;" })
                        <span style="padding: 10px; float:left;">Volume:</span>@Html.TextBoxFor(m => m.InanimateContainerVolumes, new { @style = " float:left; margin-top: 10px;" })
                        <a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a>
                    </div>
                </div>
            </div>
            <br class="clearfix" />
            <div class="form-group">
                <div style="display: block; padding-bottom: 10px;">
                    @Html.LabelFor(m => m.MobileContainerNames, new { @class = "col-md-3 control-label" })
                    <a href="#" id="addMobileContainerRow" style="padding: 10px;">Add another...</a>
                </div>
                <div id="mobileContainerRows" style="display: block;">
                    <div class="col-md-9" style="padding-left: 10px;">
                        <span style="padding: 10px; float:left;">Name: </span>@Html.TextBoxFor(m => m.MobileContainerNames, new { @style = " float:left; margin-top: 10px;" })
                        <span style="padding: 10px; float:left;">Weight:</span>@Html.TextBoxFor(m => m.MobileContainerWeights, new { @style = " float:left; margin-top: 10px;" })
                        <span style="padding: 10px; float:left;">Volume:</span>@Html.TextBoxFor(m => m.MobileContainerVolumes, new { @style = " float:left; margin-top: 10px;" })
                        <a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a>
                    </div>
                </div>
            </div>
            @Html.Partial("TwoOrThreeDimensionalEntityEditor", Model)
            <div class="form-group">
                <div style="display: block; padding-bottom: 10px;">
                    @Html.LabelFor(m => m.InternalCompositionIds, new { @class = "col-md-3 control-label" })
                    <a href="#" id="addInternalCompositionRow" style="padding: 10px;">Add another...</a>
                </div>
                <div id="internalCompositionRows" style="display: block;">
                    <div class="col-md-9" style="padding-left: 10px;">
                        <span style="padding: 10px; float:left;">Object: </span>@Html.DropDownList("InternalCompositionIds", Model.ValidInanimateDatas.Select(rl =>
                                                                                new SelectListItem() { Text = rl.Name, Value = rl.ID.ToString() })
                                                                                , htmlAttributes: new { id = "InternalCompositionIds", Style = "padding: 7px; float:left; margin-top: 10px;" })
                        <span style="padding: 10px; float:left;">% of Composition:</span>@Html.TextBoxFor(m => m.InternalCompositionPercentages, new { @style = " float:left; margin-top: 10px;" })
                        <a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a>
                    </div>
                </div>
            </div>
            <br class="clearfix" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/HtmlUtilities.js")

    <script type="text/javascript">
        var compositionDropdown = decodeHtml('@compositionDropdown');

        $(document).ready(function () {
            $("#addInanimateContainerRow").click(function () {
                $("#inanimateContainerRows").append(
                    '<div class="col-md-9" style="padding-left:10px;"><span style="padding: 10px; float:left;">Name: </span><input id="InanimateContainerNames" name="InanimateContainerNames" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Weight:</span><input id="InanimateContainerWeights" name="InanimateContainerWeights" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Volume:</span><input id="InanimateContainerVolumes" name="InanimateContainerVolumes" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $("#addMobileContainerRow").click(function () {
                $("#mobileContainerRows").append(
                    '<div class="col-md-9" style="padding-left:10px;"><span style="padding: 10px; float:left;">Name: </span><input id="MobileContainerNames" name="MobileContainerNames" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Weight:</span><input id="MobileContainerWeights" name="MobileContainerWeights" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Volume:</span><input id="MobileContainerVolumes" name="MobileContainerVolumes" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $("#addInternalCompositionRow").click(function () {
                $("#internalCompositionRows").append(
                    '<div class="col-md-9" style="padding-left:10px;"><span style="padding: 10px; float:left;">Object: </span>' + compositionDropdown + '<span style="padding: 10px; float:left;">% of Composition:</span><input id="InternalCompositionPercentages" name="InternalCompositionPercentages" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
        });
    </script>
}