@model NetMud.Models.Admin.AddEditInanimateDataViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("New Inanimate", new string[] { "Dashboard", "Inanimates" }, new string[] { "/GameAdmin", "/Inanimate" });
}

<section id="templateApply">
    @using (Html.BeginForm("Add", "Inanimate", FormMethod.Get, new { @class = "form-horizontal", role = "form", @name = "applyTemplateForm", @id = "applyTemplateForm" }))
    {
        <div class="form-group row">
            @Html.EditorFor(m => m.Template, new { validItems = Model.ValidTemplateBases })
            <input type="submit" value="Apply" class="btn btn-default save" , style="margin-left: 25px;" />
        </div>
    }
</section>

<section id="newInanimateForm">
    @using (Html.BeginForm("Add", "Inanimate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(m => m.DataObject, new { validComponents = Model.ValidComponents })

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Create", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Inanimate", IncludeCancel = true })
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}