@model NetMud.Models.Admin.AddEditInanimateTemplateViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Edit Item", new string[] { "Dashboard", "Inanimate" }, new string[] { "/GameAdmin", "/Inanimate" });
}

<section id="newCharacterForm">
    @using (Html.BeginForm("Edit", "Inanimate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="id" id="id" value="@Model.DataObject.Id" />

        @Html.EditorFor(m => m.DataObject, new { ValidInanimateTemplates = Model.ValidInanimateTemplates, ValidModels = Model.ValidModels, ValidMaterials = Model.ValidMaterials })

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Save", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Inanimate", IncludeCancel = true })
    }
</section>

@Html.Partial("~/Views/GameAdmin/Inanimate/SensoryEventList.cshtml", Model.DataObject)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}