@model NetMud.Models.Admin.AddEditInanimateDataViewModel
@{
    ViewBag.Title = "Edit Inanimate";

    var compositionDropdown = Html.DropDownList("InternalCompositionIds", Model.ValidInanimateDatas.Select(rl => new SelectListItem()
    {
        Text = rl.Name,
        Value = rl.ID.ToString()
    }), htmlAttributes: new { id = "InternalCompositionIds", Style = "padding: 7px; float:left; margin-top: 10px;" }).ToString().Replace(Environment.NewLine, "");
}

@{
    <section id="newCharacterForm">
        @using (Html.BeginForm("Edit", "Inanimate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="id" id="id" value="@Model.DataObject.ID" />
            <div class="form-group one-column">
                @Html.EditorFor(e => e.NewName)
            </div>
            
            @Html.Partial("EntityContainer", new NetMud.Models.Admin.EntityContainerViewModel(Model.DataObject.InanimateContainers, "Inanimate Containers"))
            @Html.Partial("EntityContainer", new NetMud.Models.Admin.EntityContainerViewModel(Model.DataObject.MobileContainers, "Character Containers"))

            @Html.Partial("TwoDimensionalEntityEditor", Model)

            @Html.Partial("~/Views/GameAdmin/Inanimate/InternalComposition.cshtml", Model)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Commit" class="btn btn-default" style="color: green; border-color: cadetblue;" />
                    @Html.ActionLink("Cancel", "Index", "Inanimate", new { @class = "btn btn-default", @style = "color: orange; border-color: red;" })
                </div>
            </div>
        }
    </section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var compositionDropdown = decodeHtml('@compositionDropdown');

        $(document).ready(function () {
            $("#addInanimateContainerRow").click(function () {
                $("#inanimateContainerRows").append(
                    '<div class="col-md-9" style="padding-left:10px;"><span style="padding: 10px; float:left;">Name: </span><input id="InanimateContainerNames" name="InanimateContainerNames" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Weight:</span><input id="InanimateContainerWeights" name="InanimateContainerWeights" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Volume:</span><input id="InanimateContainerVolumes" name="InanimateContainerVolumes" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $("#addMobileContainerRow").click(function () {
                $("#mobileContainerRows").append(
                    '<div class="col-md-9" style="padding-left:10px;"><span style="padding: 10px; float:left;">Name: </span><input id="MobileContainerNames" name="MobileContainerNames" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Weight:</span><input id="MobileContainerWeights" name="MobileContainerWeights" type="text" value="" style="float:left; margin-top: 10px;"><span style="padding: 10px; float:left;">Volume:</span><input id="MobileContainerVolumes" name="MobileContainerVolumes" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $("#addInternalCompositionRow").click(function () {
                $("#internalCompositionRows").append(
                    '<div class="col-md-9" style="padding-left:10px;"><span style="padding: 10px; float:left;">Object: </span>' + compositionDropdown + '<span style="padding: 10px; float:left;">% of Composition:</span><input id="InternalCompositionPercentages" name="InternalCompositionPercentages" type="text" value="" style="float:left; margin-top: 10px;"><a href="#" class="removeRow" style="color: red; border: none; padding: 10px; background-color: inherit; float:left;" title="Remove this">X</a></div>'
                );

                $(".removeRow").click(function () {
                    $(this).parent().remove();
                    return false;
                });
                return false;
            });

            $(".removeRow").click(function () {
                $(this).parent().remove();
                return false;
            });
        });
    </script>
}