@model NetMud.Models.Admin.AddEditInanimateDataViewModel

@{
    <label class="control-label">Internal composition</label>
    <a href="#" id="addInternalCompositionRow" style="padding: 10px;">Add another row...</a>
    <div id="internalCompositionRows">
        @if (Model.DataObject == null || Model.DataObject.InternalComposition == null || Model.DataObject.InternalComposition.Count == 0)
        {
            <div class="form-group three-column">
                <a href="#" class="removeRow" id="removeInternalCompositionRow" title="Remove this">X</a>
                <label class="contorl-label">&nbsp;</label>
                <div>
                    &nbsp;
                </div>           
                @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.BackingDataDropdownModel("InternalCompositionIds", "Inanimate", Model.ValidInanimateDatas, -1))
                @Html.LabelFor(m => m.InternalCompositionPercentages, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.InternalCompositionPercentages, new { @class = "control-label" })
                </div>
            </div>
        }
        else
        {
            foreach (var internalComposition in Model.DataObject.InternalComposition)
            {
                <div class="form-group three-column">
                    <a href="#" class="removeRow" id="removeInternalCompositionRow" title="Remove this">X</a>
                    <label class="contorl-label">&nbsp;</label>
                    <div>
                        &nbsp;
                    </div>
                    @Html.Partial("BackingDataDropdown", new NetMud.Models.Admin.BackingDataDropdownModel("InternalCompositionIds", "Inanimate", Model.ValidInanimateDatas, internalComposition.Key.ID))

                    @Html.LabelFor(m => m.InternalCompositionPercentages, new { @class = "control-label" })
                    <div>
                        <input id="InternalCompositionPercentages" name="InternalCompositionPercentages" class="form-control" type="text" value="@internalComposition.Value.ToString()">
                    </div>
                </div>
            }
        }
    </div>
}