@model NetMud.Models.Admin.AddEditMineralsViewModel

@{
    ViewBag.Breadcrumbs = new Tuple<string, string[], string[]>("Add Minerals", new string[] { "Dashboard", "Minerals" }, new string[] { "/GameAdmin", "/Minerals" });
}

<section id="newCharacterForm">
    @using (Html.BeginForm("Add", "Minerals", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.EditorFor(m => m.DataObject, new { ValidMaterials = Model.ValidMaterials, ValidMinerals = Model.ValidMinerals, ValidItems = Model.ValidInanimateTemplates })

        @Html.Partial("SubmitButton", new NetMud.Models.SubmitButtonModel() { SubmitName = "Create", CancelName = "Cancel", ReturnAction = "Index", ReturnController = "Minerals", IncludeCancel = true })

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}