@using NetMud.DataStructure.Linguistic

@model BaseLanguageMembers

<div class="form-group row">
    @Html.EditorFor(m => m.ArticleDeterminant)
    @Html.EditorFor(m => m.ArticleNonDeterminant)
    @Html.EditorFor(m => m.Conjunction)
    @Html.EditorFor(m => m.VerbExistentialPlural)
    @Html.EditorFor(m => m.VerbExistentialSingular)
    @Html.EditorFor(m => m.NeutralPronounFirstPersonPossessive)
    @Html.EditorFor(m => m.NeutralPronounFirstPersonSingular)
    @Html.EditorFor(m => m.NeutralPronounSecondPersonPlural)
    @Html.EditorFor(m => m.NeutralPronounSecondPersonPossessive)
    @Html.EditorFor(m => m.NeutralPronounSecondPersonSingular)
    @Html.EditorFor(m => m.VerbArticlePositionalInside)
    @Html.EditorFor(m => m.VerbArticlePositionalNear)
    @Html.EditorFor(m => m.VerbArticlePositionalOn)
    @Html.EditorFor(m => m.VerbArticlePositionalAround)
    @Html.EditorFor(m => m.VerbArticlePositionalAttached)
    @Html.EditorFor(m => m.VerbArticlePositionalFar)
</div>