@using NetMud.Data.Gaia

@model Celestial

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Luminosity)
</div>

<h4>Movement</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.OrientationType)
    @Html.EditorFor(m => m.Apogee)
    @Html.EditorFor(m => m.Perigree)
    @Html.EditorFor(m => m.Velocity)
</div>

<div class="form-group row">
    @Html.EditorFor(m => m.HelpText)
</div>

<h4>Dimensional Model</h4>
@Html.EditorFor(m => m.Model)
