@using NetMud.DataStructure.Linguistic

@model IDictata

@{
    bool disabled = ViewData["disabled"] != null;
    var cssClass = ViewData["cssClass"] == null ? "form-control" : ViewData["cssClass"];
    var forceOptional = ViewData["forceOptional"] != null;
    var ghostNameClass = "ghostNameTip";
    var strippedNaked = ViewData["strippedNaked"] != null;

    if (ViewData.ModelMetadata.IsRequired && !forceOptional)
    {
        ghostNameClass += " ghostRequired";
    }

    var htmlAttributes = new Dictionary<string, object>() { { "class", cssClass }, { "placeholder", ViewData.ModelMetadata.DisplayName }, { "title", ViewData.ModelMetadata.DisplayName } };

    htmlAttributes.Add("id", ViewData.ModelMetadata.PropertyName);

    if (ViewData["disabled"] != null)
    {
        htmlAttributes.Add("readonly", true);
    }

    if (ViewData["htmlAttributes"] != null)
    {
        var additionalAttribs = ViewData["htmlAttributes"] as IDictionary<string, object>;
        if (additionalAttribs != null)
        {
            foreach (var kvp in additionalAttribs)
            {
                htmlAttributes.Add(kvp.Key, kvp.Value);
            }
        }
    }

    var languageList = ((IEnumerable<ILanguage>)ViewData["ValidLanguages"]).Select(item => new SelectListItem() { Text = item.Name, Value = item.UniqueKey, Selected = Model != null && item.UniqueKey == Model.UniqueKey });
}
@if (strippedNaked)
{
    @Html.DescriptionFor(m => m)
    <div style="display: inline-flex;">
        @Html.DropDownList("languageSelect", languageList)
        <span class="multiBoxUnit">-</span>
        @Html.Partial("EnumDropDownList", typeof(LexicalType))
        <span class="multiBoxUnit">-</span>
        @Html.TextBoxFor(m => m, htmlAttributes)
    </div>
}
else
{
    <div class="multiBox multiBox-3">
        <span class="@ghostNameClass">@ViewData.ModelMetadata.DisplayName</span>
        @Html.DescriptionFor(m => m)
        <div>
            @Html.DropDownList("languageSelect", languageList)
            <span class="multiBoxUnit">-</span>
            @Html.Partial("~/Views/Shared/EditorTemplates/EnumDropDownList.cshtml", LexicalType.Noun)
            <span class="multiBoxUnit">-</span>
            @Html.TextBoxFor(m => m, htmlAttributes)
        </div>
    </div>
}

<script type="text/javascript">
    $("#" + '@ViewData.ModelMetadata.PropertyName').autocomplete({
        source: "/api/AdminDataApi/GetDictata/" + $("#languageSelect").val() + "/" + $("#SpecificWord").val(),
        minLength: 3,
        select: function (event, ui) {
            $(this).val(ui.item.value);
            return false;
        }
    });
</script>