@using NetMud.Data.Linguistic

@model Dictata

<h4>Details</h4>
<div class="form-group row">
    @if (Model.ApprovedBy != null)
    {
        @Html.EditorFor(m => m.Name, new { disabled = true })
    }
    else
    {
        @Html.EditorFor(m => m.Name)
    }

    @Html.EditorFor(m => m.WordType)
    @Html.EditorFor(m => m.Tense)
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.Severity)
    @Html.EditorFor(m => m.Elegance)
    @Html.EditorFor(m => m.Quality)
</div>

<h4>Synonyms</h4>
@Html.EditorFor(m => m.Synonyms, new { validItems = ViewData["ValidWords"] })

<h4>Antonyms</h4>
@Html.EditorFor(m => m.Antonyms, new { validItems = ViewData["ValidWords"] })