@using NetMud.Data.Linguistic
@model DictataPhrase
@{
    var archivedTemplate = ViewData["ArchiveTemplate"] as DictataPhrase;
}
<h4>Words</h4>
@Html.EditorFor(m => m.Words, new { validItems = ViewData["ValidWords"] })

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.WordType)
    @Html.EditorFor(m => m.Language, new { validItems = ViewData["ValidLanguages"], archivedValue = archivedTemplate?.Language?.Name ?? "" })
    @Html.EditorFor(m => m.Tense, new { archivedValue = archivedTemplate?.Tense.ToString() ?? "" })
    @Html.EditorFor(m => m.Perspective, new { archivedValue = archivedTemplate?.Perspective.ToString() ?? "" })
    @Html.EditorFor(m => m.Feminine, new { archivedValue = archivedTemplate?.Feminine.ToString() ?? "" })
    @Html.EditorFor(m => m.Perspective)
    @Html.EditorFor(m => m.Context)
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.Positional, new { archivedValue = archivedTemplate?.Positional.ToString() ?? "" })
    @Html.EditorFor(m => m.Determinant)
    @Html.EditorFor(m => m.Possessive)
    @Html.EditorFor(m => m.Plural)
    @Html.EditorFor(m => m.Feminine)
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.Vulgar, new { archivedValue = archivedTemplate?.Severity.ToString() ?? "" })
    @Html.EditorFor(m => m.Severity, new { archivedValue = archivedTemplate?.Severity.ToString() ?? "" })
    @Html.EditorFor(m => m.Elegance, new { archivedValue = archivedTemplate?.Elegance.ToString() ?? "" })
    @Html.EditorFor(m => m.Quality, new { archivedValue = archivedTemplate?.Quality.ToString() ?? "" })
</div>
<h4>Semantic Tags</h4>
@Html.EditorFor(m => m.Semantics)
<h4>Synonyms</h4>
@Html.EditorFor(m => m.Synonyms, new { validItems = ViewData["ValidWords"] })
<h4>Phrase Synonyms</h4>
@Html.EditorFor(m => m.PhraseSynonyms, new { validItems = ViewData["ValidPhrases"] })
<h4>Antonyms</h4>
@Html.EditorFor(m => m.Antonyms, new { validItems = ViewData["ValidWords"] })
<h4>Phrase Antonyms</h4>
@Html.EditorFor(m => m.PhraseAntonyms, new { validItems = ViewData["ValidPhrases"] })