@using NetMud.Data.Linguistic
@model Dictata
@{
    var archivedTemplate = ViewData["ArchiveTemplate"] as Dictata;
}
<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name, new { disabled = "disabled" })
    @Html.EditorFor(m => m.WordType)
    @Html.EditorFor(m => m.Language, new { validItems = ViewData["ValidLanguages"] })
    @Html.EditorFor(m => m.Tense)
    @Html.EditorFor(m => m.Perspective)
    @Html.EditorFor(m => m.Context)
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.Definition)
    @Html.EditorFor(m => m.Vulgar)
    @Html.EditorFor(m => m.Severity)
    @Html.EditorFor(m => m.Elegance)
    @Html.EditorFor(m => m.Quality)
    @Html.EditorFor(m => m.TimesRated, new { disabled = "disabled" })
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.Positional)
    @Html.EditorFor(m => m.Determinant)
    @Html.EditorFor(m => m.Possessive)
    @Html.EditorFor(m => m.Plural)
    @Html.EditorFor(m => m.Feminine)
</div>
<h4>Semantic Tags</h4>
@Html.EditorFor(m => m.Semantics)
<h4>Related Words</h4>
@Html.EditorFor(m => m.RelatedWords, new { validItems = ViewData["ValidWords"] })