@using NetMud.Data.Gaia

@model EconomicBasis

@{
    bool disabled = ViewData["disabled"] != null;
    var cssClass = ViewData["cssClass"] == null ? "form-control" : ViewData["cssClass"];
    var htmlAttributes = new Dictionary<string, object>() { { "id", ViewData.ModelMetadata.PropertyName }, { "class", cssClass }, { "placeholder", ViewData.ModelMetadata.DisplayName }, { "title", ViewData.ModelMetadata.DisplayName } };

    if (ViewData["disabled"] != null)
    {
        htmlAttributes.Add("readonly", true);
    }

    if (ViewData["htmlAttributes"] != null)
    {
        var additionalAttribs = ViewData["htmlAttributes"] as IDictionary<string, object>;
        if (additionalAttribs != null)
        {
            foreach (var kvp in additionalAttribs)
            {
                if (htmlAttributes.Any(att => att.Key == kvp.Key))
                {
                    htmlAttributes[kvp.Key] = kvp.Value;
                }
                else
                {
                    htmlAttributes.Add(kvp.Key, kvp.Value);
                }
            }
        }
    }
    var accordionTitle = Model.ItemType == null ? "New" : Model.ItemType.Name;
}
<div class="accordionWrapper">
    <h5>@accordionTitle</h5>
    <div>
        <div class="form-group row">
            <div>
                @Html.EditorFor(m => m.ItemType, new { validItems = ViewData["ValidInanimateTemplates"], disabled = true })
                @Html.EditorFor(m => m.Basis)
                @Html.EditorFor(m => m.Adjustment)
                @Html.EditorFor(m => m.Trend)
            </div>
        </div>
    </div>
</div>