@using NetMud.Data.NaturalResource

@model Fauna

@{
    var archivedTemplate = ViewData["ArchiveTemplate"] as Fauna;
}

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name, new { archivedValue = archivedTemplate?.Name ?? "" })
    @Html.EditorFor(m => m.Race, new { validItems = ViewData["ValidRaces"], archivedValue = archivedTemplate?.Race?.Name ?? "" })
    @Html.EditorFor(m => m.Rarity, new { archivedValue = archivedTemplate?.Rarity.ToString() ?? "" })
    @Html.EditorFor(m => m.AmountMultiplier, new { archivedValue = archivedTemplate?.AmountMultiplier.ToString() ?? "" })
    @Html.EditorFor(m => m.PuissanceVariance, new { archivedValue = archivedTemplate?.PuissanceVariance.ToString() ?? "" })
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.HelpText, new { archivedValue = archivedTemplate?.HelpText.ToString() ?? "" })
</div>

<h4>Spawning Criterion</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.FemaleRatio, new { archivedValue = archivedTemplate?.FemaleRatio.ToString() ?? "" })
    @Html.EditorFor(m => m.PopulationHardCap, new { archivedValue = archivedTemplate?.PopulationHardCap.ToString() ?? "" })
    @Html.EditorFor(m => m.TemperatureRange, new { archivedValue = archivedTemplate?.TemperatureRange.ToString() ?? "" })
    @Html.EditorFor(m => m.HumidityRange, new { archivedValue = archivedTemplate?.HumidityRange.ToString() ?? "" })
    @Html.EditorFor(m => m.ElevationRange, new { archivedValue = archivedTemplate?.ElevationRange.ToString() ?? "" })
</div>

<h4>Occurs In</h4>
@Html.EditorFor(m => m.OccursIn)

