@using NetMud.Data.Combat

@model FightingArtCriteria

<div class="form-group row">
    @Html.EditorFor(m => m.ValidPosition)
    @Html.EditorFor(m => m.HealthRange)
    @Html.EditorFor(m => m.StaminaRange)
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.Quality)
    @Html.EditorFor(m => m.QualityRange)
</div>