@using NetMud.Data.Gaia
@model Gaia

<h4>Planetary Position</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.PlanetaryRotation)
    @Html.EditorFor(m => m.RotationalAngle)
    @Html.EditorFor(m => m.OrbitalPosition)
</div>

<h4>Chronology</h4>
@Html.EditorFor(m => m.CurrentTimeOfDay)

@Html.EditorFor(m => m.Macroeconomy)

<h4>Weather</h4>
@Html.EditorFor(m => m.MeterologicalFronts)

<h4>Celestial Positions</h4>
@Html.EditorFor(m => m.CelestialPositions, new { validItems = ViewData["ValidCelestials"] })

<h4>Qualities</h4>
@Html.EditorFor(m => m.Qualities)