@using NetMud.Data.Architectural.ActorBase

@model Gender

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Base)
    @Html.EditorFor(m => m.Collective)
    @Html.EditorFor(m => m.Possessive)
</div>

<div class="form-group row">
    @Html.EditorFor(m => m.Feminine)
    @Html.EditorFor(m => m.Adult)
    @Html.EditorFor(m => m.Child)
</div>

<div class="form-group row">
    @Html.EditorFor(m => m.HelpText)
</div>
