@using NetMud.Models
@using NetMud.DataStructure.Linguistic

@model HashSet<IGrammarRule>

@{
    var currentCount = Model.Count();
    var rowsName = ViewData.ModelMetadata.PropertyName + "Rows";
}

<div id="@rowsName" class="iterativeContainer">
    <div class="addRowContainer">
        <div>
            @Html.DescriptionFor(m => m)
            <a href="#" class="addRow btn" data-current-row="@currentCount" onclick="javascript: replacePart(this, newGrammarRuleList, @currentCount, '@rowsName'); return false;"><span class="addWord">Add Row</span></a>
        </div>
    </div>
    @if (currentCount > 0)
    {
        @Html.EditorForMany(m => m, null, 0, "GrammarRule")
    }
</div>

<script type="text/javascript">
    var newGrammarRuleList = decodeHtml('@Html.EmptyEditorForMany(m => m, null, currentCount, "GrammarRule")');
</script>