@using NetMud.Data.Linguistic

@model GrammarRule

<div class="form-group row">
    <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().remove(); return false;">X</a>
    @Html.EditorFor(m => m.ModificationOrder)
    @Html.EditorFor(m => m.AltersSentence)
    @Html.EditorFor(m => m.SpecificWord, new { validItems = ViewData["ValidWords"] })
    @Html.EditorFor(m => m.WhenBeginsWith)
    @Html.EditorFor(m => m.WhenEndsWith)
    @Html.EditorFor(m => m.FromType)
    @Html.EditorFor(m => m.FromRole)
    @Html.EditorFor(m => m.FromSemantics)
    @Html.EditorFor(m => m.WhenPossessive)
    @Html.EditorFor(m => m.WhenPlural)
    @Html.EditorFor(m => m.ToType)
    @Html.EditorFor(m => m.ToRole)
    @Html.EditorFor(m => m.ToSemantics)
    @Html.EditorFor(m => m.Tense)
    @Html.EditorFor(m => m.Perspective)
    @Html.EditorFor(m => m.AddPrefix)
    @Html.EditorFor(m => m.AddSuffix)
    @Html.EditorFor(m => m.Listable)
    @Html.EditorFor(m => m.NeedsArticle)
</div>