@using NetMud.Data.Inanimate

@model InanimateTemplate

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(e => e.Name)
    @Html.EditorFor(e => e.AccumulationCap)
</div>

@Html.EditorFor(e => e.Qualities)

<h4>Item Containers</h4>
@Html.EditorFor(e => e.InanimateContainers)

<h4>NPC Containers</h4>
@Html.EditorFor(e => e.MobileContainers)

<h4>Dimensional Model</h4>
@Html.EditorFor(e => e.Model)

<h3>Crafting Blueprint</h3>
<hr />
<div class="form-group row">
    @Html.EditorFor(e => e.Produces)
</div>

<h4>Components</h4>
@Html.EditorFor(e => e.Components)

<h4>Skill Requirements</h4>
@Html.EditorFor(e => e.SkillRequirements)
