@using NetMud.Data.Administrative

@model JournalEntry

<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.MinimumReadLevel)
    @Html.EditorFor(m => m.Public)
</div>

<h4>Publishing</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.PublishDate)
    @Html.EditorFor(m => m.ExpireDate)
    @Html.EditorFor(m => m.Expired)
</div>

<h4>Tags</h4>
@Html.EditorFor(m => m.Tags)

<h4>Entry Body</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Body)
</div>