@using NetMud.Data.Linguistic

@model Language

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.GoogleLanguageCode)
    @Html.EditorFor(m => m.UIOnly)
</div>
<div class="form-group row">
    @Html.EditorFor(m => m.Gendered)
    @Html.EditorFor(m => m.PrecedentPunctuation)
    @Html.EditorFor(m => m.AntecendentPunctuation)
</div>

<h4>Grammatical Rules</h4>
@Html.EditorFor(m => m.Rules)

<h4>Sentence Rules</h4>
@Html.EditorFor(m => m.SentenceRules)