@using NetMud.Data.Linguistic

@model Language
@{
                /**/

                var archivedTemplate = ViewData["ArchiveTemplate"] as Language;
}
<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name, new { archivedValue = archivedTemplate?.Name ?? "" })
    @Html.EditorFor(m => m.GoogleLanguageCode, new { archivedValue = archivedTemplate?.GoogleLanguageCode ?? "" })
    @Html.EditorFor(m => m.UIOnly, new { archivedValue = archivedTemplate?.UIOnly.ToString() ?? "" })
    @Html.EditorFor(m => m.Gendered, new { archivedValue = archivedTemplate?.Gendered.ToString() ?? "" })
    @Html.EditorFor(m => m.PrecedentPunctuation, new { archivedValue = archivedTemplate?.PrecedentPunctuation.ToString() ?? "" })
    @Html.EditorFor(m => m.AntecendentPunctuation, new { archivedValue = archivedTemplate?.AntecendentPunctuation.ToString() ?? "" })
</div>

<h4>Base Structural Words</h4>
@Html.EditorFor(m => m.BaseWords)

<h4>Single Word Grammar</h4>
@Html.EditorFor(m => m.WordRules)

<h4>Word Pair Grammar</h4>
@Html.EditorFor(m => m.WordPairRules)

<h4>Contractions</h4>
@Html.EditorFor(m => m.ContractionRules)

<h4>Transformational Rules</h4>
@Html.EditorFor(m => m.TransformationRules)

<h4>Sentence Rules</h4>
@Html.EditorFor(m => m.SentenceRules)

<h4>Sentence Complexity Rules</h4>
@Html.EditorFor(m => m.ComplexityRules)

<h4>Phrase Detection Rules</h4>
@Html.EditorFor(m => m.PhraseRules)