@using NetMud.Data.Architectural.EntityBase

@model Material

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(e => e.Name)
    @Html.EditorFor(e => e.Conductive)
    @Html.EditorFor(e => e.Magnetic)
    @Html.EditorFor(e => e.Flammable)
</div>
<div class="form-group row">
    @Html.EditorFor(e => e.Viscosity)
    @Html.EditorFor(e => e.Density)
    @Html.EditorFor(e => e.Mallebility)
    @Html.EditorFor(e => e.Ductility)
    @Html.EditorFor(e => e.Porosity)
</div>
<div class="form-group row">
    @Html.EditorFor(e => e.SolidPoint)
    @Html.EditorFor(e => e.GasPoint)
    @Html.EditorFor(e => e.TemperatureRetention)
</div>
<div class="form-group row">
    @Html.EditorFor(e => e.HelpText)
</div>

<h4>Damage Resistances</h4>
@Html.EditorFor(e => e.Resistance)

<h4>Alloy Composition</h4>
@Html.EditorFor(e => e.Composition)
