@using NetMud.Data.NPC
@model Merchandise
@{ 
    var name = Model.Item == null ? "" : Model.Item.Name;
    var rate = Model.Item == null ? "" : Model.MarkRate.ToString();
    var quality = Model.Item == null ? "" : Model.Quality;
}
<div class="accordionWrapper">
    <h5>@name : @rate : @quality</h5>
    <div>
        <div class="form-group row">
            <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().parent().parent().remove(); return false;">X</a>
            @Html.EditorFor(m => m.Item, new { validItems = ViewData["ValidItems"] })
            @Html.EditorFor(m => m.Quality)
            @Html.EditorFor(m => m.QualityRange)
            @Html.EditorFor(m => m.MarkRate)
        </div>
    </div>
</div>