@using NetMud.Data.NaturalResource

@model Mineral

@{
    var archivedTemplate = ViewData["ArchiveTemplate"] as Mineral;
}

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name, new { archivedValue = archivedTemplate?.Name ?? "" })
    @Html.EditorFor(m => m.Solubility, new { archivedValue = archivedTemplate?.Solubility.ToString() ?? "" })
    @Html.EditorFor(m => m.Fertility, new { archivedValue = archivedTemplate?.Fertility.ToString() ?? "" })
    @Html.EditorFor(m => m.Rock, new { validItems = ViewData["ValidMaterials"], archivedValue = archivedTemplate?.Rock?.Name ?? "" })
    @Html.EditorFor(m => m.Dirt, new { validItems = ViewData["ValidMaterials"], archivedValue = archivedTemplate?.Dirt?.Name ?? "" })
</div>

<div class="form-group row">
    @Html.EditorFor(m => m.HelpText, new { archivedValue = archivedTemplate?.HelpText.ToString() ?? "" })
</div>

<h4>Spawning Criterion</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Rarity, new { archivedValue = archivedTemplate?.Rarity.ToString() ?? "" })
    @Html.EditorFor(m => m.AmountMultiplier, new { archivedValue = archivedTemplate?.AmountMultiplier.ToString() ?? "" })
    @Html.EditorFor(m => m.PuissanceVariance, new { archivedValue = archivedTemplate?.PuissanceVariance.ToString() ?? "" })
</div>

<div class="form-group row">
    @Html.EditorFor(m => m.TemperatureRange, new { archivedValue = archivedTemplate?.TemperatureRange.ToString() ?? "" })
    @Html.EditorFor(m => m.HumidityRange, new { archivedValue = archivedTemplate?.HumidityRange.ToString() ?? "" })
    @Html.EditorFor(m => m.ElevationRange, new { archivedValue = archivedTemplate?.ElevationRange.ToString() ?? "" })
</div>

<h4>Occurs In</h4>
@Html.EditorFor(m => m.OccursIn)

<h4>Ores</h4>
@Html.EditorFor(m => m.Ores, new { validItems = ViewData["ValidMinerals"] })