@using NetMud.Data.NPC

@model NonPlayerCharacterTemplate

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.SurName)
    @Html.EditorFor(m => m.Gender)
</div>

@Html.EditorFor(m => m.Race)

@Html.EditorFor(m => m.Personality)

<h3>Merchant Settings</h3>
<hr />
<h4>Restock</h4>
@Html.EditorFor(m => m.InventoryRestock)

<h4>Selling</h4>
@Html.EditorFor(m => m.WillSell)

<h4>Buying</h4>
@Html.EditorFor(m => m.WillPurchase)

<h3>Trainer Settings</h3>
<hr />
<h4>Proficencies</h4>
@Html.EditorFor(m => m.TeachableProficencies)
