@using NetMud.Data.Players

@model PlayerTemplate

<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.SurName)
    @Html.EditorFor(m => m.Gender)
    @Html.EditorFor(m => m.Race, new { validItems = ViewData["ValidRaces"] })
    @if (User.IsInRole("Admin"))
    {
        @Html.EditorFor(m => m.GamePermissionsRank)
    }
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Builder") || User.IsInRole("Guest"))
{
    <h4>Super Senses</h4>
    @Html.EditorFor(m => m.SuperSenses)
}