@using NetMud.Data.Room

@model PathwayTemplate

<h5>Pathway To Zone</h5>
<div>
    <h4>Details</h4>
    <div class="form-group row">
        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(m => m.Destination, "ZoneTemplateList", new { validItems = ViewData["ValidZones"] })
        @Html.EditorFor(m => m.InclineGrade)
        @Html.EditorFor(m => m.DegreesFromNorth)
    </div>

    @Html.EditorFor(m => m.Model)
</div>