@using NetMud.DataStructure.Linguistic

@model SentenceGrammarRule

<div class="accordionWrapper">
    <h5>@Model.Type.ToString() : @Model.Fragment.ToString()</h5>
    <div>
        <div class="form-group row">
            <a href="#" class="removeRow col-form-label" title="Remove this" onclick="javascript: $(this).parent().parent().parent().remove(); return false;">X</a>
            @Html.EditorFor(m => m.Type)
            @Html.EditorFor(m => m.Fragment)
            @Html.EditorFor(m => m.SubjectPredicate)
            @Html.EditorFor(m => m.ModificationOrder)
        </div>
    </div>
</div>