@using NetMud.Data.Architectural.EntityBase

@model DimensionalModel

@{
    if (Model.Composition.Count() < Model.ModelTemplate.ModelPlanes.GroupBy(mp => mp.TagName).Count())
    {
        foreach (var tagName in Model.ModelTemplate.ModelPlanes.GroupBy(mp => mp.TagName).Where(tgn => !Model.Composition.Any(comp => comp.PartName.Equals(tgn.Key))))
        {
            Model.Composition.Add(new ModelPartComposition() { PartName = tagName.Key });
        }
    }
}

<div class="accordionWrapper ghostRequired">
    <h5>Dimensional Model</h5>
    <div>

        <div class="form-group row">
            @Html.EditorFor(m => m.ModelTemplate, new { validItems = ViewData["ValidModels"] })
            @Html.EditorFor(m => m.SurfaceCavitation)
            @Html.EditorFor(m => m.Vacuity)
        </div>

        <h4>Dimensions</h4>
        <div class="form-group row">
            @Html.EditorFor(m => m.Height)
            @Html.EditorFor(m => m.Length)
            @Html.EditorFor(m => m.Width)
        </div>

        <h4>Model Parts</h4>
        @Html.EditorFor(m => m.Composition)
    </div>
</div>