@using NetMud.Data.Zone
@model ZoneTemplate
<h4>Details</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.World, new { validItems = ViewData["ValidWorlds"] })
    @Html.EditorFor(m => m.Hemisphere)
    @Html.EditorFor(m => m.BaseElevation)
</div>
<h4>Environment</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.BaseBiome)
    @Html.EditorFor(m => m.TemperatureCoefficient)
    @Html.EditorFor(m => m.PressureCoefficient)
</div>
<h4>Flora</h4>
@Html.EditorFor(m => m.FloraResourceSpawn)
<h4>Minerals</h4>
@Html.EditorFor(m => m.MineralResourceSpawn)
<h4>Fauna</h4>
@Html.EditorFor(m => m.FaunaResourceSpawn)