@using NetMud.Data.Zone
@model Zone
<h4>Environment</h4>
<div class="form-group row">
    @Html.EditorFor(m => m.Hemisphere)
    @Html.EditorFor(m => m.BaseElevation)
    @Html.EditorFor(m => m.Humidity)
    @Html.EditorFor(m => m.Temperature)
</div>

<h4>Qualities</h4>
@Html.EditorFor(m => m.Qualities)

